<h3>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုရန်ကြေညာခြင်း</h3>
<p>အမိန့်ကြော်ငြာစာအမှတ် (၁၄၀/၂၀၁၇)<br>
၂၀၁၇ ခုနှစ်၊ ဩဂုတ်လ ၂၈ ရက်</p>

<h3 id="minimum-5-works">အလုပ်သမား (၅) ဦးနှင့်အထက် လုပ်ငန်းများ တစ်ဦးချင်းချုပ်ဆိုရန် လိုအပ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုရန်ကြေညာခြင်း</caption>
    <tr>
        <td>၃။</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ကို အလုပ်သမား (၅) ဦးနှင့်အထက်ရှိ စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာန၊ ကုမ္ပဏီများ၊ လုပ်ငန်းများနှင့် အစိုးရဌာန၊ အစိုးရအဖွဲ့အစည်းများ၌ ယာယီခန့်ထားသည့် နေ့စားအလုပ်သမားနှင့် ပုတ်ပြတ်အလုပ်သမားများ တစ်ဦးချင်း ချုပ်ဆိုရမည်ဖြစ်ပြီး အလုပ်ရှင်နှင့် အလုပ်သမား နှစ်ဖက် လက်မှတ်ရေးထိုးချုပ်ဆိုပြီးပါက သက်ဆိုင်ရာမြို့နယ် သို့မဟုတ် ခရိုင်ရှိ အလုပ်အကိုင်နှင့် အလုပ်သမားရှာဖွေရေးရုံးသို့ အတည်ပြုချက်ရယူရန် ဖြစ်ပါသည်။</td>
    </tr>
</table>
<h3 id="using-employment-contract-template">အလုပ်ရှင်၊ အလုပ်သမား ညှိနှိုင်းအတည်ပြုထားသည့် စာချုပ်ပုံစံပါအတိုင်း ချုပ်ဆိုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ် ချုပ်ဆိုရန်ကြေညာခြင်း</caption>
    <tr>
        <td>၄။</td>
        <td>သို့ဖြစ်ပါ၍ အလုပ်သမား၊ လူဝင်မှုကြီးကြပ်ရေးနှင့် ပြည်သူ့အင်အားဝန်ကြီးဌာနသည် အလုပ်အကိုင်နှင့် ကျွမ်းကျင်မှုဖွံ့ဖြိုးတိုးတက်ရေး ဥပဒေပုဒ်မ ၄၁(ခ) အရ အပ်နှင်းထားသော လုပ်ပိုင်ခွင့်ကို ကျင့်သုံးလျက် အလုပ်ရှင်၊ အလုပ်သမားများအနေဖြင့် အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ကို အလုပ်ရှင်၊ အလုပ်သမား ညှိနှိုင်းအတည်ပြုထားသည့် အောက်ဖော်ပြပါ စာချုပ်ပုံစံပါအတိုင်း ချုပ်ဆိုကြရန် ထုတ်ပြန်လိုက်သည်။</td>
    </tr>
</table>

<h2 id="employment-contract-template">အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်<i class="fa-solid fa-link"></i></h2>
<p>စာချုပ်အမှတ်၊ ___________</p>

<p>မြန်မာနိုင်ငံ၊ _______ တိုင်းဒေကြီး/ပြည်နယ်၊ _______ မြို့နယ်၊ ______ မြို့၊ _____ ရပ်ကွက်၊ _________ လမ်း၊ အမှတ် (&emsp;) တွင် နေထိုင်သော အလုပ်ရှင်အမည် _______၊ နိုင်ငံသားစိစစ်ရေးကတ်ပြားအမှတ် သို့မဟုတ် နိုင်ငံကူးလက်မှတ်အမှတ် ________ (နောင်တွင် "အလုပ်ရှင်" ဟု ခေါ်ဆိုမည်ဖြစ်ပြီး ယင်းစကားရပ်တွင် အခြားနည်းဖြင့် ကိုယ်ပိုင်လုပ်ငန်းလုပ်ကိုင်သူ သို့မဟုတ် အကျိုးတူဖက်စပ်လုပ်ငန်း လုပ်ကိုင်သူနှင့် ပုဂ္ဂလိကလုပ်ငန်းဖြစ်ပါက အလုပ်ရှင်သေဆုံးသည့်အခါ လုပ်ငန်းဆက်ခံသူ သို့မဟုတ် တရားဝင်ကိုယ်စားလှယ်တို့အားလုံး ပါဝင်သည်ဟု မှတ်ယူမည်) ကတစ်ဖက်<br>
<b>နှင့်</b><br>
အလုပ်သမားအမည် _______၊ နိုင်ငံသားစိစစ်ရေးကတ်ပြားအမှတ် သို့မဟုတ် နိုင်ငံကူးလက်မှတ်အမှတ် _________ (နောင်တွင် "အလုပ်သမား" "ဝန်ထမ်း" ဟု ခေါ်ဆိုမည်ဖြစ်ပြီး ယင်းစကားရပ်တွင် လုပ်ခရသည်ဖြစ်စေ၊ မရသည်ဖြစ်စေ အလုပ်လုပ်ကိုင်လျက်ရှိသော အလုပ်သင်များ၊ ပညာသင်များလည်းပါဝင်သည်။ အလုပ်ရှင်နှင့် အတူနေပြီး အလုပ်ရှင်အပေါ်တွင် မှီခိုနေသော အလုပ်ရှင်၏ မိသားစုကို ပါဝင်သည်ဟု မသတ်မှတ်ရ) တို့သည် _____ ခုနှစ်၊ _____ လ၊ _____ ရက်နေ့၊ __________ နေရာတွင် အောက်ဖော်ပြပါအတိုင်း အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ကို နှစ်ဦးနှစ်ဖက်၊ လက်မှတ်ရေးထိုးချုပ်ဆိုကြပါသည်။</p>

<table class="list">
    <tr>
        <td>၁။<b></b></td>
        <td colspan="3" id="job-type"><b>အလုပ်အကိုင်အမျိုးအစား</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>လုပ်ငန်းအမျိုးအစား</td>
        <td>__________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>လုပ်ငန်းတည်နေရာ</td>
        <td>__________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ရာထူး၊ အဆင့်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ဌာန</td>
        <td>__________</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>တာဝန်အကျဥ်းချုပ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3"><b>Summary of Job Description ကို နောက်ဆက်တွဲဖြင့်လည်း ဖော်ပြနိုင်သည်။</b></td>
    </tr>
</table>

<table class="list">
    <tr>
        <td>၂။</td>
        <td colspan="2" id="probation-and-joining-date">အစမ်းခန့်ကာလ (သို့မဟုတ်) အလုပ်စတင်ဝင်ရောက်သည့်ရက်စွဲ<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>စတင်ခန့်အပ်သည့် ______ ရက်နေ့မှစ၍ (၃) လပြည့်သည့်နေ့ _____ ရက်နေ့အထိ အစမ်းခန့်ကာလဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်စတင်ဝင်ရောက်သည့်နေ့ရက် _____ ခုနှစ်၊ ____ လ၊ _____ ရက်ဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">မှတ်ချက်။&emsp;။ အလုပ်ရှင်မှ အစမ်းခန့်ကာလ မလိုအပ်ဟု ယူဆပါက အတည်ပြု (အမြဲတမ်း) ဝန်ထမ်းအဖြစ် တိုက်ရိုက်ခန့်အပ်နိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၃။</td>
        <td colspan="3" id="wage-salary"><b>လုပ်ခ၊ လစာ</b></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>နေ့စား (ကျပ်/နိုင်ငံခြားငွေ)</td>
        <td>________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုတ်ပြတ် (ကျပ်/နိုင်ငံခြားငွေ)</td>
        <td>________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>လစား (ကျပ်/နိုင်ငံခြားငွေ)</td>
        <td>________</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td colspan="2">လုပ်ခလစာကို အလုပ်ရှင်နှင့် အလုပ်သမား ကနဦးသဘောတူသတ်မှတ်ထားသည့် လစာနှင့်အညီ ပေးချေသတ်မှတ်နိုင်သည်။ ယင်းအပြင် အလုပ်သမား၏ လုပ်ရည်ကိုင်ရည်အပေါ်တွင် အခါအားလျော်စွာ အလုပရှင်နှင့် အလုပ်သမားတို့မှ နှစ်ဦးသဘောတူ ပြောင်းလဲသတ်မှတ်နိုင်သည်။<br>(ထိုသို့ သတ်မှတ်ရာတွင် အနည်းဆုံးအခကြေးငွေ သတ်မှတ်ချက်များနှင့် မဆန့်ကျင်စေရ။)</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td colspan="2">လုပ်ခ၊ လစာပေးရေးနှင့် ပတ်သက်၍ တည်ဆဲအလုပ်သမားဥပဒေများနှင့်အညီ အလုပ်ရှင်နှင့် အလုပ်သမားတို့က လိုက်နာဆောင်ရွက်ရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၄။</td>
        <td id="job-location"><b>အလုပ်အကိုင်တည်နေရာ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>မြန်မာနိုင်ငံ၊ _______ တိုင်းဒေကြီး/ပြည်နယ်၊ _______ မြို့နယ်၊ ________ (ရပ်ကွက်/ကျေးရွာ/စက်မှုဇုန်)၊ _______ လမ်း၊ အမှတ် (&emsp;)။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၅။</td>
        <td colspan="2" id="term-of-contract"><b>စာချုပ်သက်တမ်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ဤသဘောတူစာချုပ်သက်တမ်းမှာ (&ensp;-&ensp;-&ensp;) ရက်နေ့မှ (&ensp;-&ensp;-&ensp;) ရက်နေ့အထိ (&emsp;) နှစ်၊ (&emsp;) လ၊ (&emsp;) ရက်ဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမားဘက်မှ စာချုပ်ပါအချက်များကို ဖောက်ဖျက်ခြင်းမရှိပါက ဤသဘောတူစာချုပ် သက်တမ်းတိုးပေးနိုင်သည်။ သို့ရာတွင် အလုပ်ရှင်သည် စာချုပ်သက်တမ်းကာလတိုးပေးခြင်းကို အကြေင်းမဲ့ ငြင်းပယ်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အမြဲတမ်းဝန်ထမ်း သို့မဟုတ် အမြဲတမ်းအလုပ်သမားအဖြစ် ခန့်အပ်ပြီးပါက စာချုပ်သက်တမ်းကို အလုပ်ရှင်၊ အလုပ်သမားညှိနှိုင်း၍ သတ်မှတ်ကာလထက်တိုး၍ ဆောင်ရွက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>အလုပ်သမား၏ စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာန၊ ကုမ္ပဏီ၊ လုပ်ငန်းတွင် အလုပ်စတင်ဝင်ရောက်သည့်နေ့မှစ၍ တစ်ဆက်တည်းဖြစ်သော လုပ်သက်များကို အလုပ်ရှင်မှ ရေတွက်ပေးရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၆။</td>
        <td colspan="2" id="work-hours"><b>အလုပ်ချိန်</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">ပုံမှန်အလုပ်ချိန်ကို အောက်ပါအတိုင်း သတ်မှတ်ပါသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်ချိန် ____ နာရီတိတိမှ _____ နာရီအထိ</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အားလပ်ချိန် ____ နာရီတိတိမှ _____ နာရီအထိ</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ထမင်းစားချိန် ____ နာရီတိတိမှ _____ နာရီအထိ</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><b>(လုပ်ငန်းသဘာဝအရ အလုပ်ရှင်၊ အလုပ်သမား နှစ်ဦးနှစ်ဖက် ညှိနှိုင်း၍ ဥပဒေနှင့်အညီ သက်ဆိုင်ရာသို့ တင်ပြ ခွင့်ပြုချက်ရယူပြီး ပြောင်းလဲလုပ်ကိုင်နိုင်သည်။)</b></td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၇။</td>
        <td colspan="3" id="rest-day-holiday-and-leave"><b>နားရက်၊ အလုပ်ပိတ်ရက်နှင့် ခွင့်ရက်</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2" id="rest-day"><b>နားရက်</b>။&emsp;ရက်သတ္တပတ်တစ်ပတ်လျှင် သာမန်အားဖြင့် တနင်္ဂနွေနေ့ကို နားရက်အဖြစ်လည်းကောင်း၊ လုပ်ငန်းသဘာဝအရနှင့် နေရာဒေသ၏ ဓလေ့ထုံးစံအရ တစ်ပတ်လျှင် အလုပ်နားရက်တစ်ရက်ကို အလုပ်ရှင်နှင့် အလုပ်သမားတို့၏ သဘောတူညီချက်ဖြင့်လည်းကောင်း သတ်မှတ်နိုင်သည်။ နားရက်တွင် တည်ဆဲအလုပ်သမားဥပဒေနှင့်အညီ လုပ်ခလစာခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2" id="holiday"><b>အလုပ်ပိတ်ရက်</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>ပြည်ထောင်စုအစိုးရက နှစ်စဥ်အမိန့်ကြော်ငြာစာဖြင့် သတ်မှတ်ထားသော အများပြည်သူ အလုပ်ပိတ်ရက်များတွင် လုပ်ခလစာအပြည့်ဖြင့် အနားပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အကယ်၍ အများပြည်သူ အလုပ်ပိတ်ရက်နှင့် ရက်သတ္တပတ်အလုပ်ပိတ်ရက် တိုက်ဆိုင်နေပါက အများပြည်သူ အလုပ်ပိတ်ရက်အဖြစ် သတ်မှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2" id="leave-days"><b>ခွင့်ရက်များ</b>။&emsp;အလုပ်သမားဥပဒေနှင့်အညီ ခွင့်တိုင်ကြားလျှင် အောက်ပါအတိုင်း ခွင့်ခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td id="casual-leave"><b>ရှောင်တခင်ခွင့်</b>။&emsp;အလုပ်စတင်ဝင်ရောက်သည့်နေ့ရက်မှ ၁၂ လအတွင်း ရှောင်တခင်ခွင့် ၆ ရက်ကို လုပ်ခလစာအပြည့်ဖြင့် ခွင့်ခံစားခွင့်ရှိသည်။ သက်ဆိုင်ရာနှစ်အတွင်း ခွင့်မယူလျှင် ထိုခွင့်ပျက်ပြယ်သည်။ တစ်ကြိမ်လျှင် ၃ ရက်ထက်ပို၍ ခံစားခွင့်မရှိပါ။ အခြားမည်သည့်ခွင့်နှင့်မျှ ပေါင်းစပ်ခံစားခွင့်မရှိပါ။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td id="earned-leave"><b>လုပ်သက်ခွင့်</b>။&emsp;လုပ်သက် ၁၂ လ တစ်ဆက်တည်းပြည့်ပြီး လစဥ် အနည်းဆုံးအလုပ်ဆင်းရက် ၂၀ ရက်ရှိပါက အခြေခံလုပ်ခလစာ သို့မဟုတ် မည်သည့်စရိတ်မျှမပါသည့် အခြေခံနေ့တွက်နှုန်းဖြင့် တစ်နှစ်လျှင် တစ်ဆယ်ရက် တစ်ဆက်တည်းခံစားခွင့်ရှိသည်။ သို့ရာတွင် အလုပ်ရှင်၊ အလုပ်သမား သဘောတူညီချက်ဖြင့် လုပ်သက်ခွင့်တစ်ဆယ်ရက်ကို ခွဲ၍ ခံစားခွင့်ပြုနိုင်သည်။ ၂၀ ရက်အပြည့်မလုပ်ခဲ့သော လတိုင်းအတွက် မိမိလုပ်သက်ခွင့်ရက်မှ ခွင့်တစ်ရက်ကျစီ အဖြတ်ခံရမည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td id="medical-leave"><b>ဆေးခွင့်</b>။&emsp;လုပ်သက် (၆) လပြည့်ပြီးသူသည် အခြေခံလစာဖြင့် တစ်နှစ်လျှင် ရက်ပေါင်း (၃၀) ခံစားခွင့်ရှိသည်။ သို့ရာတွင် အနည်းဆုံး လုပ်သက် (၆) လပြည့်အောင် မလုပ်ခဲ့ရသေးလျှင် ဆေးလက်မှတ်ခွင့်ကို လစာမရှိခွင့်ရက်အဖြစ် ခံစားခွင့်ရှိသည်။ လူမှုဖူလုံရေးဥပဒေအရ အကျုံးဝင် အာမခံအလုပ်သမားဖြစ်ပါက ယင်းဥပဒေပါ ခံစားခွင့်အတိုင်း ခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td id="maternity-leave"><b>မီးဖွားခွင့်</b>။&emsp;လုပ်သက် (၆) လပြည့်ပြီးသူသည် အခြေခံလစာဖြင့် မီးမဖွားမီ (၆) ပတ်၊ မီးဖွားပြီး (၈) ပတ် ခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td id="funeral-leave">အလုပ်သမား၏ မိသားစုဝင် သို့မဟုတ် မိဘနာရေးကိစ္စဖြစ်သည့်အခါ အနည်းဆုံး အခကြေးငွေမှ ဖြတ်တောက်ခြင်းမပြုဘဲ ၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေအရ ခံစားခွင့်ရှိသည်။ အလုပ်သမား၏ ဥပဒေပါခွင့်ခံစားမှု ကုန်ဆုံးချိန်တွင် လစာမဲ့ခွင့်အနေဖြင့် ညှိနှိုင်းခံစားခွင့်ရှိသည်။<i class="fa-solid fa-link"></i></td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၈။</td>
        <td id="working-overtime"><b>အချိန်ပိုလုပ်ကိုင်ခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>လုပ်ငန်း သဘောသဘာဝများ အပေါ်မူတည်၍ အလုပ်ရှင်နှင့် အလုပ်သမားသဘောတူညီချက်ဖြင့် ဥပဒေသတ်မှတ်ချက်များနှင့်အညီ အချိန်ပိုလုပ်ကိုင်နိုင်သည်။ အချိန်ပိုလုပ်ခကို သက်ဆိုင်ရာဥပဒေအရ သတ်မှတ်ထားသည့် ပုံသေနည်းအတိုင်း တွက်ချက်ပေးရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၉။</td>
        <td id="food-and-meal"><b>အလုပ်ချိန်အတွင်း အစားအသောက် အစီအစဥ်</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>ရှိ/မရှိ (ရှိလျှင် ဖော်ပြလိုပါက သီးခြားဖော်ပြနိုင်ပါသည်။)</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၀။</td>
        <td id="accommodation"><b>နေရာထိုင်ခင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>ရှိ/မရှိ (ရှိလျှင် ဖော်ပြလိုပါက သီးခြားဖော်ပြနိုင်ပါသည်။)</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၁။</td>
        <td colspan="3" id="medical-care"><b>ဆေးဝါးကုသခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2">၂၀၁၂ ခုနှစ် လူမှုဖူလုံရေးဥပဒေနှင့် အကျုံးမဝင်သော အလုပ်သမားများအား အောက်ပါအတိုင်း အလုပ်ရှင်၏ ကုန်ကျစရိတ်ဖြင့် ဆေးဝါးကုသရန် စီစဥ်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>လုပ်ငန်းခွင် ထိခိုက်ဒဏ်ရာရရှိမှု</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>လုပ်ငန်းခွင်ဆိုင်ရာ ရောဂါရရှိမှု</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>လုပ်ငန်းခွင်အတွင်း ဖျားနာမှု</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2">၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေနှင့် အကျုံးဝင်သော အလုပ်သမားများအတွက် သက်ဆိုင်ရာ ဥပဒေနှင့်အညီ ဆေးဝါးကုသခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td colspan="2">၂၀၁၂ ခုနှစ်၊ လူမှုဖူလုံရေးဥပဒေနှင့် အကျုံးမဝင်သော အလုပ်သမားများအတွက် အလုပ်ကိုအကြောင်းပြု၍ ထိခိုက်ဒဏ်ရာရရှိမှုများအတွက် သက်ဆိုင်ရာ အလုပ်သမားလျော်ကြေးဥပဒေနှင့်အညီ ဆောင်ရွက်ပေးရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၂။</td>
        <td id="ferry-and-travelling"><b>အလုပ်ခွင်သို့ ကြို၊ ပို့ယာဥ် စီစဥ်ပေးခြင်းနှင့် ခရီးသွားလာခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>ရှိ/မရှိ (ရှိလျှင် ဖော်ပြလိုပါက သီးခြားဖော်ပြနိုင်ပါသည်။)</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၃။</td>
        <td colspan="2" id="workplace-rules"><b>အလုပ်သမားများ လိုက်နာရမည့် စည်းကမ်းချက်များ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">အလုပ်သမားများ လိုက်နာရမည့် စည်းကမ်းချက်များကို အောက်ပါအတိုင်း အမျိုးအစားခွဲခြားသတ်မှတ်၍ အရေးယူမှုအဆင့်ဆင့် အပါအဝင် နောက်ဆက်တွဲများအဖြစ် ဤစာချုပ်တွင် ထည့်သွင်းချုပ်ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>နောက်ဆက်တွဲ (က) သာမန်ပြစ်မှုများနှင့် အရေးယူမှု</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>နောက်ဆက်တွဲ (ခ) ကြီးလေးသောပြစ်မှုများနှင့် အရေးယူမှု</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"><b>မှတ်ချက်။&emsp;။ စက်မှုဇုန်တွင် ထုတ်ပြန်ထားသော ကျင့်ဝတ်များကို နမူနာယူနိုင်ပြီး လုပ်ငန်းသဘာဝနှင့် ကိုက်ညီစွာ သတ်မှတ်နိုင်သည်။ လုပ်ငန်းခွင်စည်းကမ်းများကို အလုပ်ရှင်၊ အလုပ်သမား နှစ်ဖက် ညှိနှိုင်း၍ သတ်မှတ်နိုင်သည်။</b></td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၄။</td>
        <td colspan="2" id="separate-contract-on-training-provided-by-employer"><b>အလုပ်ရှင် စေလွှတ်သည့် သင်တန်းသို့ တက်ရောက်ပါက ယင်းသင်တန်းတက်ရောက်ပြီးနောက် ဆက်လက်တာဝန်ထမ်းဆောင်ရန် အလုပ်သမားက သဘောတူညီသည့်ကာလ ကန့်သတ်ချက် (သင်တန်း)</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>သင်တန်းကို အလုပ်အကိုင်နှင့် ကျွမ်းကျင်မှု ဖွံ့ဖြိုးတိုးတက်ရေးဥပဒေအရ နှစ်ဦးသဘောတူ ဆောင်ရွက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>လုပ်ငန်းခွင် ကျွမ်းကျင်မှုဆိုင်ရာ သင်တန်းတက်ရောက်ခြင်းနှင့် စပ်လျဥ်း၍ သဘောတူစာချုပ်ကို ဥပဒေနှင့်အညီ သီးခြားချုပ်ဆိုရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၅။</td>
        <td colspan="3" id="resignation-and-termination"><b>အလုပ်မှနှုတ်ထွက်ခြင်းနှင့် အလုပ်မှရပ်စဲခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2" id="resignation"><b>အလုပ်မှနှုတ်ထွက်ခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အတည်ပြုခန့်ထားသော အလုပ်သမားသည် အလုပ်တာဝန်မှ နှုတ်ထွက်လိုပါက အကြောင်းကြားစာကို သက်ဆိုင်ရာ လုပ်ငန်းခွဲတာဝန်ခံမှတဆင့် အလုပ်ရှင် သို့မဟုတ် မန်နေဂျာ သို့မဟုတ် စီမံအုပ်ချုပ်သူထံသို့ အနည်းဆုံး တစ်လကြိုတင်အကြောင်းကြားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်မှ တရားဝင်နှုတ်ထွက်ခွင့်ပြုရာတွင် အလုပ်သမားသည် မိမိအား ထုတ်ပေးထားသည့် လစာကတ်၊ ဝန်ထမ်းကတ်၊ လုပ်ငန်းသုံးပစ္စည်းနှင့် ကိရိယာများကို ပြန်လည်ပေးအပ်ရမည့်အပြင် မိမိတာဝန်ယူထားသည့် စာရင်းများ၊ ငွေကြေးများ၊ ပစ္စည်းများကို အလုပ်ရှင်ထံသို့ စနစ်တကျ လွှဲပြောင်းပေးအပ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>အလုပ်သမားသည် အလုပ်မှနှုတ်ထွက်လိုပါက တစ်လကြိုတင်၍ အကြောင်းကြားရမည်ဖြစ်ပြီး အလုပ်ရှင်မှ အလုပ်ရပ်စဲမှုနစ်နာကြေးပေးရန်မလိုဘဲ ရရန်ရှိသည့် အမှန်တကယ် အလုပ်လုပ်ခဲ့သည့်ရက်များအတွက် လုပ်ခကျန်ငွေနှင့် လုပ်သက်ခွင့်ကို ခံစားခွင့်ပေးပြီး နှုတ်ထွက်ခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>အထက်အပိုဒ်ခွဲငယ် (၃) ပါအတိုင်း အလုပ်မှနှုတ်ထွက်ခွင့်ပြုရာတွင် အလုပ်ရှင်၏ ကုန်ကျစရိတ်ဖြင့် သင်တန်းတက်ရောက်ထားသည့် အလုပ်သမားများအတွက် အလုပ်အကိုင်နှင့် ကျွမ်းကျင်မှုဖွံ့ဖြိုးတိုးတက်ရေးဥပဒေပါအတိုင်း ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2" id="termination-dismissal"><b>အလုပ်မှရပ်စဲခြင်း၊ ထုတ်ပယ်ခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်ရှင်သည် အလုပ်သမားအား အလုပ်ရပ်စဲသည့်အခါ ခိုင်လုံသော အကြောင်းပြချက်ဖြင့် မှတ်တမ်းမှတ်ရာများ ဆောင်ရွက်ထားရှိပြီး ရုံးအမိန့်စာဖြင့် အလုပ်ရှင် သို့မဟုတ် အလုပ်ရှင်ကိုယ်စားတာရှိသူက လက်မှတ်ရေးထိုး၍ အလုပ်သမားအား ပေးပြီးမှ အလုပ်မှရပ်စဲရမည်။ အလုပ်သမားအား အလုပ်မှရပ်စဲခြင်း၊ ထုတ်ပယ်ခြင်း ကိစ္စရပ်များအားလုံးသည် အလုပ်ရှင်တွင်သာ တာဝန်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>သတ်မှတ်ထားသည့် စည်းကမ်းချက်များကို ဖောက်ဖျက်ကျူးလွန်သည့် အလုပ်သမားများအား သာမန်ပြစ်မှုများအတွက် ပထမအကြိမ်စာဖြင့် သတိပေးခြင်း၊ ဒုတိယအကြိမ်စာဖြင့် သတိပေးခြင်း၊ တတိယအကြိမ် ဝန်ခံကတိလက်မှတ်ရေးထိုးစေခြင်းစသည့် သတိပေးခြင်းသုံးကြိမ် ပြုလုပ်ပြီးနောက် ၁၂ လအတွင်း အလုပ်သမားသည် သာမန်ပြစ်မှုကို ထပ်မံကျူးလွန်ခဲ့လျှင် အလုပ်ရှင်သည် နစ်နာကြေးပေးရန် ပေးရန်မလိုဘဲ အလုပ်မှရပ်စဲနိုင်သည်။ သာမန်ပြစ်မှုတစ်ခုကျူးလွန်ပြီးပါက ၁၂ လအတွင်း နောက်ထပ်ပြစ်မှုတစ်စုံတစ်ရာ ကျူးလွန်ခြင်းမရှိလျှင်ဖြစ်စေ၊ တတိယအကြိမ် ကျူးလွန်ခဲ့ပြီးနောက် ၁၂ လအတွင်း ထပ်မံကျူးလွန်ခြင်းမရှိလျှင်ဖြစ်စေ ထိုကျူးလွန်ခဲ့သော ပြစ်မှုအားလုံးကို အလုပ်ရှင်မှ ချေဖျက်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>အထက်အပိုဒ်ငယ် (၁) မှအပ အလုပ်သမားများအား တည်ဆဲဥပဒေ၊ နည်းဥပဒေ၊ စည်းမျဥ်းစည်းကမ်းများနှင့်အညီ အလုပ်ရှင်က တစ်လကြိုတင် အကြောင်းကြား၍ သတ်မှတ်ထားသည့် နစ်နာကြေးပေးပြိး အလုပ်မှရပ်စဲနိုင်သည်။ သို့ရာတွင် ဥပဒေပြဌာန်းချက်၊ လုပ်ထုံးလုပ်နည်းများနှင့် ဆန့်ကျင်၍ အလုပ်သမားအား အလုပ်ထုတ်ခြင်းမျိုး မဖြစ်စေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>လုပ်သားလျော့ချခြင်း၊ အလုပ်သမားအား အလုပ်မှရပ်စဲခြင်း တို့အတွက် အလုပ်ရှင်သည် အလုပ်သမားအဖွဲ့အစည်းမရှိပါက အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီနှင့် ညှိနှိုင်းဆောင်ရွက်ရမည်။ အလုပ်သမားအဖွဲ့အစည်းရှိပါက အလုပ်သမားအဖွဲ့အစည်း၏ ကိုယ်စားလှယ်နှင့် အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးကော်မတီ၏ ကိုယ်စားလှယ်တို့ပူးပေါင်း၍ အလုပ်ရှင် သို့မဟုတ် အလုပ်ရှင်ကိုယ်စားလှယ်နှင့် ညှိနှိုင်းဆောင်ရွက်ရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၆။</td>
        <td colspan="2" id="termination-of-contract"><b>စာချုပ်ရပ်စဲခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">အောက်ပါအချက်များကြောင့် သဘောတူစာချုပ် ရပ်စဲနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာန၊ ကုမ္ပဏီ၊ လုပ်ငန်းဖျက်သိမ်းခြင်း၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>မမျှော်မှန်းနိုင်သော ဖြစ်ရပ်ကြောင့် လုပ်ငန်းရပ်ဆိုင်းသွားခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်သမားသေဆုံးခြင်း</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၇။</td>
        <td colspan="3" id="responsibilities"><b>စာချုပ်ပါစည်းကမ်းချက်အတိုင်း တာဝန်ရှိမှုများ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td colspan="2" id="responsibilities-of-employer"><b>အလုပ်ရှင်၏ တာဝန်ဝတ္တရားများ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အသင်းအဖွဲ့ဝင်ဖြစ်မှု၊ လူမျိုး၊ ဘာသာ၊ ကျားမ၊ အသက်အရွယ် ကွာခြားမှုအပေါ်မူတည်၍ ခွဲခြားဆက်ဆံခြင်း၊ တန်းတူအခွင့်အရေး မပေးခြင်းတို့ကို မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>မြန်မာနိုင်ငံသို့ လာရောက် အလုပ်လုပ်ကိုင်သည့် နိုင်ငံခြားသားအလုပ်ရှင်များ၊ ကြီးကြပ်သူများ၊ ပညာရှင်များနှင့် မိသားစုဝင်များသည် မြန်မာနိုင်ငံ၏ တည်ဆဲဥပဒေများ၊ ယဥ်ကျေးမှုနှင့် ဓလေ့ထုံးစံများကို လေးစားလိုက်နာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>တည်ဆဲ အလုပ်သမားရေးရာ ဥပဒေများအပါအဝင် မြန်မာနိုင်ငံ၏ တည်ဆဲအခြားဥပဒေများကို လေးစားလိုက်နာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>ဥပဒေနှင့်အညီ တရားစွဲဆိုခွင့်နှင့် တရားစွဲဆိုခံပိုင်ခွင့်ရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>အလုပ်ရှင်သည် အလုပ်သမားများ၏ ရပိုင်ခွင့်များ ခံစားပိုင်ခွင့်များနှင့် စပ်လျဥ်း၍ အလုပ်သမားများအား ပွင့်လင်းစွာ အသိပေးထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အလုပ်ရှင်သည် လုပ်ငန်း၏ လိုအပ်ချက်အရ လုပ်ငန်းခွင် ဘေးအန္တရာယ်ကင်းရှင်းရေးကို အထူးဦးစားပေး ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td colspan="2" id="responsibilities-of-employees"><b>အလုပ်သမားများ၏ တာဝန်ဝတ္တရားများ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>အလုပ်သမားများသည် လုပ်ငန်း၏ လိုအပ်ချက်အရ ထုတ်ပြန်ထားသော လုပ်ငန်းခွင် ဘေးအန္တရာယ်ကင်းရှင်းရေးဆိုင်ရာ ညွှန်ကြားချက်များကို လိုက်နာဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>လုပ်ငန်းခွင်အတွင်းသို့ မဝင်ရောက်မီ လုပ်ငန်းလိုအပ်ချက်အရ သတ်မှတ်ထားသော လုပ်ငန်းခွင် အကာအကွယ်ပေးရေးပစ္စည်းများကို စနစ်တကျ ဝတ်ဆင်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>လုပ်ငန်းခွင်နှင့် အလုပ်ချိန်အတွင်း မူးယစ်ဆေးဝါးများကို သောက်စားခြင်း၊ လုပ်ဖော်ကိုင်ဖက်များကို စိတ်ငြိုငြင်အောင် နှောင့်ယှက်ခြင်း၊ အန္တရာယ်ပေးခြင်း၊ ကိုယ်ထိလက်ရောက်ကျူးလွန်စော်ကားခြင်းများ မပြုလုပ်ရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>အလုပ်ရှင်မှ ကြိုတင်ဖွင့်ဟထားသည့် လျှို့ဝှက်အပ်သော သတင်းအချက်အလက်များကို ပြင်ပသို့မပေါက်ကြားအောင် ထိန်းသိမ်းရမည်။ အခွင့်အမိန့်မရှိဘဲ လုပ်ငန်းနှင့် ဆိုင်သော စာရွက်စာတမ်းများ၊ စာရင်းများ၊ မှတ်တမ်းများကို ထုတ်နှုတ်အသုံးပြုခြင်း၊ ကူးယူခြင်း၊ ဖယ်ရှားခြင်း၊ ဖျောက်ဖျက်ခြင်း၊ ပြင်ပသို့ ယူဆောင်သွားခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>အလုပ်ရှင်နှင့် အလုပ်သမားကိုယ်စားလှယ်များ ညှိနှိုင်းသဘောတူညီထားသည့် အခါအားလျော်စွာ ထုတ်ပြန်ထားသည့် စည်းမျဥ်းစည်းကမ်းများကို လိုက်နာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အလုပ်သမားသည် တည်ဆဲဥပဒေများအတိုင်း ထည့်ဝင်ပေးဆောင်ရမည့် အခွန်အခများကို သတ်မှတ်နှုန်းထားများအတိုင်း ပေးဆောင်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>တည်ဆဲ အလုပ်သမားရေးရာ ဥပဒေများကို လေးစားလိုက်နာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၈)</td>
        <td>ဥပဒေနှင့်အညီ တရားစွဲဆိုခွင့်နှင့် တရားစွဲဆိုခံပိုင်ခွင့်ရှိရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၈။</td>
        <td id="cancellation-of-contract"><b>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အား အလုပ်ရှင်နှင့် အလုပ်သမားနှစ်ဦးသဘောတူ ဖျက်သိမ်းခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>အလုပ်ရှင်နှင့် အလုပ်သမား နှစ်ဦးနှစ်ဖက် သဘောတူညီချက်ဖြင့် မူလချုပ်ဆိုထားသော အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အား ဖျက်သိမ်းနိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၁၉။</td>
        <td id="others-dispute-resolution"><b>အခြားကိစ္စများ (အလုပ်ရှင်နှင့် အလုပ်သမား အငြင်းပွားမှုများကို ဖြေရှင်းခြင်း)</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>အလုပ်ရှင်နှင့် အလုပ်သမား အငြင်းပွားမှုများ ပေါ်ပေါက်ပါက နှစ်ဦးနှစ်ဖက် ညှိနှိုင်းဖျန်ဖြေသည့် နည်းဖြင့် ဖြေရှင်းရမည်။ အကယ်၍ ပြေလည်အောင်ဖြေရှင်းနိုင်ခြင်းမရှိပါက ၂၀၁၂ ခုနှစ် အလုပ်သမားရေးရာ အငြင်းပွားမှု ဖြေရှင်းရေး ဥပဒေနှင့် တည်ဆဲဥပဒေများအတိုင်း ဖြေရှင်းဆောင်ရွက်ရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၂၀။</td>
        <td id="making-amending-adding-rules"><b>စာချုပ်စည်းကမ်းများကို သတ်မှတ်ခြင်း၊ ပြင်ဆင်ခြင်းနှင့် ဖြည့်စွက်ခြင်း</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>အတည်ပြုလက်မှတ်ရေးထိုးပြီးသော အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်ကို သက်ဆိုင်ရာမြို့နယ် အလုပ်အကိုင်နှင့် အလုပ်သမားရှာဖွေရေးရုံးများသို့ ပေးပို့ရမည်။ ထို့ပြင် တည်ဆဲအလုပ်သမားဥပဒေများနှင့်အညီ ပြင်ဆင်ခြင်းနှင့် ဖြည့်စွက်ခြင်း ပြုလုပ်လိုပါက အလုပ်ရှင်နှင့် အလုပ်သမား နှစ်ဦးနှစ်ဖက် ညှိနှိုင်းဆွေးနွေး ပြင်ဆင်ဖြည့်စွက်ပြီးနောက် အဆိုပါသဘောတူညီချက်အသစ်ကိုလည်း တင်ပြရမည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td>၂၁။</td>
        <td colspan="2" id="general"><b>အထွေထွေ</b><i class="fa-solid fa-link"></i></td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမားသည် အလုပ်သမားဥပဒေနှင့် ဆက်စပ်လျက်ရှိသော ဥပဒေများတွင် ပါဝင်သည့် ရပိုင်ခွင့်များ၊ အကာအကွယ်နှင့် အကျိုးခံစားခွင့်အားလုံးကို ခံစားခွင့်ရှိသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>လိုအပ်ပါက တည်ဆဲဥပဒေနှင့် မဆန့်ကျင်သော သက်ဆိုင်ရာ လုပ်ငန်းခွင်သဘာဝအရ ထုတ်ပြန်ထားသည့် တည်မြဲအမိန့်နှင့် အလုပ်ခွင်အတွင်း လိုက်နာရန် စည်းမျဥ်းစည်းကမ်းနှင့် ရပိုင်ခွင့်များကို ဤစာချုပ်၏ တစ်စိတ်တစ်ဒေသအဖြစ် မှတ်ယူရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အား လုပ်ငန်း၏ သဘောသဘာဝအရ တည်ဆဲအလုပ်သမားဥပဒေများပါ ရပိုင်ခွင့်နှင့် အခွင့်အရေးများအောက် ယုတ်လျော့ခြင်းမရှိဘဲ အပြည်ပြည်ဆိုင်ရာ စံချိန်စံညွှန်းများနှင့်အညီ သက်ဆိုင်ရာ စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာန၊ ကုမ္ပဏီ၊ လုပ်ငန်းမှအလုပ်ရှင်နှင့် ၅၀ ရာခိုင်နှုန်းထက်ကျော်သော အလုပ်သမားများ၏ သဘောတူညီချက်ဖြင့် ပြင်ဆင်ဖြည့်စွက်နိုင်သည်။</td>
    </tr>
</table>
<table class="list">
    <tr>
        <td colspan="2"><b>အလုပ်သမား၏လက်မှတ် (သို့မဟုတ်) လက်ဝဲလက်မပုံစံ</b></td>
    </tr>
    <tr>
        <td>လက်မှတ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>အမည်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရာထူး/အဆင့်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>နိုင်ငံသားစစ်စစ်ရေး</td>
        <td>__________</td>
    </tr>
    <tr>
        <td colspan="2">ကတ်ပြားအမှတ် (သို့မဟုတ်) နိုင်ငံကူးလက်မှတ်အမှတ်</td>
    </tr>
    <tr>
        <td>လုပ်ငန်း/ဌာန</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရက်စွဲ</td>
        <td>__________</td>
    </tr>
</table>
<p>...</p>
<table class="list">
    <tr>
        <td colspan="2"><b>အလုပ်ရှင် (သို့မဟုတ်) မန်နေဂျာ (သို့မဟုတ်) စီမံအုပ်ချုပ်သူ</b></td>
    </tr>
    <tr>
        <td>လက်မှတ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>အမည်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရာထူး/အဆင့်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>နိုင်ငံသားစစ်စစ်ရေး</td>
        <td>__________</td>
    </tr>
    <tr>
        <td colspan="2">ကတ်ပြားအမှတ် (သို့မဟုတ်) နိုင်ငံကူးလက်မှတ်အမှတ်</td>
    </tr>
    <tr>
        <td>လုပ်ငန်း/ဌာန</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရက်စွဲ</td>
        <td>__________</td>
    </tr>
</table>
<p>...</p>
<h3>အသိသက်သေ</h3>
<table class="list">
    <tr>
        <td>လက်မှတ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>အမည်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရာထူး/အဆင့်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>နိုင်ငံသားစစ်စစ်ရေး</td>
        <td>__________</td>
    </tr>
    <tr>
        <td colspan="2">ကတ်ပြားအမှတ် (သို့မဟုတ်) နိုင်ငံကူးလက်မှတ်အမှတ်</td>
    </tr>
    <tr>
        <td>လုပ်ငန်း/ဌာန</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရက်စွဲ</td>
        <td>__________</td>
    </tr>
</table>
<p>...</p>
<table class="list">
    <tr>
        <td>လက်မှတ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>အမည်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရာထူး/အဆင့်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>နိုင်ငံသားစစ်စစ်ရေး</td>
        <td>__________</td>
    </tr>
    <tr>
        <td colspan="2">ကတ်ပြားအမှတ် (သို့မဟုတ်) နိုင်ငံကူးလက်မှတ်အမှတ်</td>
    </tr>
    <tr>
        <td>လုပ်ငန်း/ဌာန</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>ရက်စွဲ</td>
        <td>__________</td>
    </tr>
</table>
<p>...</p>
<h3>အသိအမှတ်ပြုလက်မှတ်ရေးထိုးပါသည်။</h3>
<table class="list">
    <tr>
        <td>လက်မှတ်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td>အမည်</td>
        <td>__________</td>
    </tr>
    <tr>
        <td colspan="2"><b>ခရိုင်/မြို့နယ်ဦးစီးအရာရှိ<br>အလုပ်သမားညွှန်ကြားရေးဦးစီးဌာန</b></td>
    </tr>
    <tr>
        <td colspan="2">________ ခရိုင်/မြို့နယ်</td>
    </tr>
</table>

<p>&nbsp;</p>
