<h2>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</h2>
<h3>အခန်း (၄)<br>ဘေးရန်ကင်းရှင်းမှု</h3>

<h3 id="covering-machines">စက်ကိရိယာများကို ကာရံထားခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၃။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် အောက်ပါ စက်ကိရိယာများကို ထိုစက်ကိရိယာများ လည်နေစဥ် သို့တည်းမဟုတ် ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="working-at-running-machines">လည်နေသော စက်ကိရိယာ၌ သို့တည်းမဟုတ် ထိုစက်ကိရိယာအနီး၌ အလုပ်လုပ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၄။</td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၂၄။</td>
        <td>(၂)</td>
        <td>မည်သည့်မိန်းမကိုမျှ သို့တည်းမဟုတ် မည်သည့်ကလေးကိုမျှ စက်ကိရိယာ အစိတ်အပိုင်း လည်နေစဥ်၊ ထိုအစိတ်အပိုင်းကို တိုက်ချွတ်ရန်၊ စက်ဆီထည့်ရန်၊ သို့တည်းမဟုတ် နေရာတကျရှိအောင် ပြင်ဆင်ရန် သော်လည်းကောင်း၊ လည်နေသည့် စက်ကိရိယာ၏ လည်နေသော အစိတ်အပိုင်းစပ်ကြားတွင် သို့တည်းမဟုတ် ပုံသေတပ်ထားသည့် အစိတ်အပိုင်းနှင့် လည်နေသော အစိတ်အပိုင်း စပ်ကြားတွင် အလုပ်လုပ်ရန် သော်လည်းကောင်း ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<h3 id="young-workers-at-dangerous-machines">ဘေးအန္တရာယ် ဖြစ်စေတတ်သော စက်ကိရိယာများ၌ လူငယ်များအား ခိုင်းစေခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၅။</td>
        <td>(၁)</td>
        <td colspan="2">စက်နှင့်စပ်ဆိုင်သော ဘေးအန္တရာယ်များနှင့် လိုက်နာဆောင်ရွက်ရမည့် ကြိုတင်ကာကွယ်မှုများကို အစုံအလင် သိရှိနားလည်ပြီး ဖြစ်သည့်အပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>စက်၌ လုပ်ရမည့်အလုပ်ကို လုံလောက်စွာ သင်ကြားတတ်မြောက်ပြီးဖြစ်သည့် လူငယ် သို့တည်းမဟုတ်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>စက်နှင့်စပ်လျဥ်း၍ ကောင်းစွာတတ်ကျွမ်းနားလည်ပြီး အလုပ်ရည်ဝသူတစ်ဦး၏ ကြီးကြပ်စီမံခြင်းကို ခံရသည့် လူငယ်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="2">မှတပါး အခြားမည်သည့် လူငယ်မျှ၊ ဤပုဒ်မနှင့် သက်ဆိုင်သည့် စက်၌ အလုပ်မလုပ်ရ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-cutters">အားဖြတ်တောက်ရန် ကိရိယာများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၆။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="moving-back-and-forth-machines">ရှေ့တိုးနောက်ငင်သွားသော စက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၇။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="covering-machines">စက်ကိရိယာသစ်ကို အိမ်ဖွဲ့၍ ထားရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၈။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cotton-machines">ဝါဖတ်စက် အနီးအနားတွင် မိန်းမများနှင့် ကလေးများ ခိုင်းစေခြင်းကို တားမြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၉။</td>
        <td>ဝါဖတ်စက်လည်နေသော အလုပ်ရုံ အစိတ်အပိုင်း တစ်ခုခုတွင် မည်သည့် မိန်းမကိုမျှ သို့တည်းမဟုတ် မည်သည့်ကလေးကိုမျှ မခိုင်းစေရ။<br>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="hoist-and-lift-machines">မြှောက်စက်နှင့် ပင့်စက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၀။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="crane-and-lift-machines">ကရိန်းစက်နှင့် အခြားအလားတူ ပင့်မြှောက်စက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၁။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="spinning-machine">လည်သောစက်ကိရိယာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၂။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="pressure-plant">တိုးအားစက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၃။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="floor-stairs-and-pathways">ကြမ်းပြင်၊ သွားလမ်း၊ လှေကား၊ သွားလာစေနိုင်မည့်လမ်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၄။</td>
        <td colspan="2">အလုပ်ရုံတိုင်းတွင် ...</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="holes-on-floor">တွင်းနှင့် ကြမ်းပေါက် စသည်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၅။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="very-heavy-objects">အလွန်အမင်းလေးလံသောဝန်ချိန်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၆။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတွင် မည်သည့် မိန်းမ၊ လူရွယ် သို့တည်းမဟုတ် ကလေးကိုမျှ လေးလံလွန်းသဖြင့် ထိခိုက်နာကျင်စေမည့် လက္ခဏာရှိသော ဝန်ချိန်ကို ပင့်ရန်၊ သယ်ယူရန်၊ သို့တည်းမဟုတ် ရွှေ့ပြောင်းရန် မခိုင်းစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာနသည် အလုပ်ရုံများတွင်ဖြစ်စေ၊ အလုပ်ရုံအမျိုးအစား တစ်ခုခုတွင်ဖြစ်စေ၊ ပြုလုပ်မှုလုပ်ငန်းစဥ် တစ်ခုခုတွင်ဖြစ်စေ သာမန်အားဖြင့် လုပ်သူတို့ ပင့်ရမည့်၊ သယ်ယူရမည့် သို့တည်းမဟုတ် ရွှေ့ပြောင်းရမည့် အများဆုံးဝန်ချိန်ကို ပြဌာန်းသည့် နည်းဥပဒေများ ပြုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td>အမျိုးသမီး အလုပ်သမားများအား မိန်းမသဘာဝ ဓမ္မတာလာစဥ် အချိန်မျိုးတွင် လုပ်ငန်းခွင်၌ ကျန်းမာရေးအရ လုပ်ကိုင်နိုင်စွမ်းမရှိကြောင်း မှတ်ပုံတင်ဆရာဝန်၏ ဆေးထောက်ခံချက်နှင့်တကွ တင်ပြလာပါက လုပ်ငန်းပိုင်ရှင်က သတ်မှတ်ချက်များနှင့်အညီ စီစဥ်ဆောင်ရွက်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၄)</td>
        <td>ကိုယ်ဝန်ဆောင် အမျိုးသမီးများအား ညအချိန်တွင် စေခိုင်းခြင်းမပြုရ။ ထို့ပြင် မူလလုပ်ခလစာနှင့် ခံစားခွင့်ကို မထိခိုက်စေဘဲ ပေါ့ပါးသော တာဝန်များကိုသာ စေခိုင်းရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="protecting-eyes">မျက်စိကိုကာကွယ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၇။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="fumes-and-precuations">ဘေးအန္တရာယ်ဖြစ်စေတတ်သည့် အခိုင်းအငွေနှင့် စပ်လျဥ်းသည့် ကြိုတင်ကာကွယ်ချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၈။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="explosive-and-flammable-fumes">ပေါက်ကွဲစေတတ်သည့် သို့တည်းမဟုတ် မီးတောက်လောင်စေတတ်သည့် အခိုးအငွေ့ စသည်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၃၉။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="procedures-in-case-of-fire">မီးလောက်လျှင် ဆောင်ရွက်ရမည့် စီမံချက်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၀။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် အကယ်၍ မီးလောက်လျှင် လွတ်မြောက်ရန် နည်းလမ်းများကို ပြဌာန်းသည့်အတိုင်း စီမံထားရှိရမည်။ ဤကဲ့သို့ စီမံထားခြင်းမရှိဟု စစ်ဆေးရေးအရာရှိက ထင်မြင်လျှင် စစ်ဆေးရေးအရာရှိသည် အလုပ်ရုံမန်နေဂျာထံသို့ အမိန့်ချအပ်၍ ထိုအမိန့်စာတွင် အလုပ်ရုံကို ဤပုဒ်မနှင့် လည်းကောင်း၊ ဤပုဒ်မအရ ပြုသည့် နည်းလမ်းများပါ ပြဌာန်းချက်များနှင့် လည်းကောင်း၊ ညီညွတ်စွာဆောင်ရွက်သင့်သည်ဟု မိမိထင်မြင်သော စီမံချက်များ ဖော်ပြ၍ အမိန့်စာတွင် ဖော်ပြသည့်နေ့ရက် မတိုင်မီ ထိုစီမံချက်များ ဖော်ပြ၍ ဆောင်ရွက်ရမည်ဟု ဆင့်ဆိုနိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်ရုံတိုင်းတွင် အခန်းတစ်ခုခုမှ ထွက်နိုင်သည့် တံခါးများကို အခန်းတွင်း၌ လူတစ်ဦးတစ်ယောက်ရှိနေစဥ် အတွင်းမှ ရုတ်တရက် အလွယ်တကူ မဖွင့်နိုင်အောင် သော့ခတ်ထားခြင်း သို့တည်းမဟုတ် ပိတ်ထားခြင်းမပြုရ။ ထိုတံခါးများသည် အံထိုးတံခါးမျိုးမဟုတ်လျှင် အပြင်ဖွင့်တံခါးများ ဖြစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td>အလုပ်ရုံတိုင်းတွင် သာမန်အသုံးပြုသည့် ထွက်ပေါက်များမှလွဲ၍ မီးလောက်လျှင် ထွက်နိုင်သည့် ပြူတင်းပေါက်၊ တံခါး သို့တည်းမဟုတ် အခြားထွက်ပေါက်အသီးသီးတွင် အလုပ်သမားများ နားလည်သည့်စာဖြင့် ထင်ရှားစွာရေးထားသော အနီရောက်စာလုံးများနှင့်ဖြစ်စေ၊ အခြားကောင်းစွာသိသာနိုင်သည့် အမှတ်အသားနှင့်ဖြစ်စေ ထင်ရှားစွာ မှတ်သားထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၄)</td>
        <td>မီးလောက်လျှင် အလုပ်ရုံတွင် ခိုင်းစေခံရသူတိုင်း ကောင်းစွာကြားသိနိုင်အောင် အချက်ပေးကိရိယာများကို အလုပ်ရုံတိုင်းတွင် တပ်ဆင်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၅)</td>
        <td>မီးလောက်လျှင် ထွက်ပေါက်များသို့ အလွယ်တကူ သွားနိုင်သည့်လမ်းကို အလုပ်ရုံအခန်းအသီးသီးရှိ အလုပ်သမားအားလုံး အသုံးပြုနိုင်ရန် ရှင်းလင်းထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၆)</td>
        <td>
            <table class="list">
                <tr>
                    <td>(က)</td>
                    <td>အောက်ဆုံးထက်၏ မည်သည့်နေရာတွင်မဆို အလုပ်သမား နှစ်ဆယ်ထက်ပို၍ ခိုင်းစေသော အလုပ်ရုံအသီးသီး၌ ဖြစ်စေ၊</td>
                </tr>
                <tr>
                    <td>(ခ)</td>
                    <td>ပေါက်ကွဲစေတတ်သည့် သို့တည်းမဟုတ် မီးအလွန် တောက်လောင်စေတတ်သည့် ပစ္စည်းသိုလှောင်ထားသော သို့တည်းမဟုတ် အသုံးပြုသော အလုပ်ရုံအသီးသီးတွင်ဖြစ်စေ</td>
                </tr>
            </table>
            မီးလောက်လျှင် အသုံးပြုနိုင်သည့် ထွက်ပေါက်များကို အလုပ်သမားအားလုံး သိနေစေရန် လည်းကောင်း၊ မီလောင်လျှင် ထိုသူတို့ မီးဘေးမှ လွတ်မြောက်အောင် လိုက်နာရမည့် နည်းလမ်းကို ကောင်းစွာသင်ကြားပေးရန် လည်းကောင်း၊ ထိရောက်စွာ စီမံဆောင်ရွက်ရမည်။
        </td>
    </tr>
    <tr>
        <td></td>
        <td>(၇)</td>
        <td>အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေ စစ်ဆေးရေးဦးစီးဌာနသည် အလုပ်ရုံ တစ်ခုခုနှင့်ဖြစ်စေ၊ အလုပ်ရုံအမျိုးအစား တစ်ခုခုနှင့်ဖြစ်စေ၊ စပ်လျဥ်း၍ မီးလောင်လျှင် အသုံးပြုရန် စီမံထားရှိရမည့် ထွက်ပေါက်များနှင့်တကွ မီးသတ်ကိရိယာ အမျိုးအစားနှင့် အရေအတွက်ကို ညွှန်ကြားချက်များ ထုတ်ပြန်နိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-to-call-for">ချို့ယွင်းသော အစိတ်အပိုင်းများကို သီးခြားဖော်ပြရန်ဖြစ်စေ၊ ခိုင်မခိုင် စမ်းသပ်ခြင်းပြုရန်ဖြစ်စေ ဆင့်ဆိုနိုင်သည့် အာဏာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၁။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="building-and-machine-safety">အဆောက်အဦးများနှင့် စက်ကိရိယာများ ဘေးရန်ကင်းရှင်းမှု<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၂။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-to-add-supplements">ဤအခန်းကို နောက်ဆက်တွဲဖြည့်စွက်ရန် နိုင်ငံတော်သမ္မတက နည်းဥပဒေများ ပြုနိုင်သည့်အာဏာ<i class="fa-solid fa-link"></i></h3>
<table class="list large-margin-bottom">
    <tr>
        <td>၄၃။</td>
        <td>...</td>
    </tr>
    <tr>
        <td>၄၃-က။</td>
        <td>အလုပ်ရုံများတွင် လုပ်ငန်းခွင် မတော်တဆ ထိခိုက်မှုများနှင့် လုပ်ငန်းခွင်ဆိုင်ရာ ရောဂါရရှိမှုများကို လျော့နည်းပပျောက်စေရန် အလို့ငှာ လုပ်ငန်းပိုင်ရှင်သည် လုပ်ငန်းခွင် ဘေးအန္တရာယ် ကင်းရှင်းရေးနှင့် ကျန်းမာရေးတာဝန်ခံ၊ ကြီးကြပ်သူများနှင့် အလုပ်သမားများအား အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာနက အသိအမှတ်ပြုထားသည့် လုပ်ငန်းခွင် ဘေးအန္တရာယ် ကင်းရှင်းရေးနှင့် ကျန်းမာရေး သင်တန်းများကို တက်ရောက်စေရမည်။</td>
    </tr>
</table>
