<h2>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</h2>

<h3>အခန်း (၃)<br>ကျန်းမာရေး</h3>

<h3 id="cleaning-and-hygiene">သန့်ရှင်းစင်ကြယ်မှု<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၃။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်ရုံတိုင်း၊ အလုပ်ရုံဝန်းတိုင်းကို သန့်ရှင်းစင်ကြယ်စွာ ထားရမည့်အပြင် ရေမြောင်းမှ သို့တည်းမဟုတ် ကျင်ကြီးကျင်ငယ်စွန့်ရန်နေရာမှ သို့တည်းမဟုတ် အခြားနံစော်သည့်အရာမှ ထွက်သည့် အနံ့နှင့်လည်း ကင်းစေရမည်။ ထို့ပြင် အထူးအဖြင့်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ကြမ်းပြင်များနှင့် အလုပ်ခုံများ၊ လှေကားများနှင့် လမ်းများတွင် တင်ရှိနေသော အညစ်အကြေး အမှိုက်သရိုက် စသည်များကို တံမြက်စည်းဖြင့် သော်လည်းကောင်း၊ အခြားထိရောက်သော နည်းလမ်းဖြင့် သော်လည်းကောင်း၊ နေ့စဥ်လှည်းကျင်း၍ သင့်တော်သော နည်းလမ်းဖြင့် စွန့်ပစ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ခန်းတိုင်း၏ ကြမ်းပြင်ကို ရက်သတ္တတစ်ပတ်လျှင် အနည်းဆုံးတစ်ကြိမ်ကျ ဆေးကြောရမည်။ အကယ်၍ အနံ့ပျောက်ဆေးထည့်၍ ဆေးကြောရန်လိုလျှင် ထည့်၍ ဆေးကြောရမည် သို့တည်းမဟုတ် အခြားထိရောက်သော နည်းလမ်းဖြင့် သန့်ရှင်းစင်ကြယ်အောင် ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cleaning-up-waste-and-spills">စွန့်ပစ်ပစ္စည်းများနှင့် ယိုစီးသည့်အရာများအား သုတ်သင်ရှင်းလင်းခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၄။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် ပြုလုပ်မှုလုပ်ငန်းစဥ်အရ စွန့်ပစ်ပစ္စည်းများ၊ ယိုစီးသည့်အရာများနှင့် အခိုးအငွေ့များ၊ အမှုန်အမွှားများ၊ အနံ့အသက်များကို ရှင်းလင်းသန့်စင်ရာတွင် သဘာဝပတ်ဝန်းကျင် ထိခိုင်မှုမရှိစေရန် စီမံဆောင်ရွက်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ventilation-and-temperature">လေဝင်လေထွက်ရရှိအောင်နှင့် အပူအအေးမျှတအောင် ပြုခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၅။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်ရုံ၏ အလုပ်ခန်းတိုင်းတွင် လေကောင်းလေသန့် လုံလောက်စွာ ရရှိရန်နှင့် အလုပ်သမားတို့ နေသာချောင်ချိရေးနှင့် ကျန်းမာရေးအတွက် အပူအအေးမျှတရန် သင့်တော်လုံလောက်သော စီမံချက်များ ပြုပေးရမည်။ အထူးသဖြင့် ...</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="dust-and-fumes">အမှုန်နှင့် အခိုးအငွေ့များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၆။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတွင် လုပ်နေသော ပြုလုပ်မှုလုပ်ငန်းစဥ်နှင့် စပ်လျဥ်း၍ ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="humidifying-air">လေကိုစိုထိုင်းစေခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၇။</td>
        <td>(၁)</td>
        <td>လေကို ပိုမိုစိုထိုင်းအောင် ဖန်တီးရသည့် အလုပ်ရုံအားလုံးတွင် ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="crowding">လူထူထပ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၈။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံရှိ အခန်းတွင် ခိုင်းစေခံရသူ အလုပ်သမားများ၏ ကျန်းမာရေး ထိခိုက်နိုင်လောက်အောင် လူထူထပ်ခြင်း မရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>ပုဒ်မခွဲ (၁) တွင် မည်သို့ပင်ပြဌာန်းထားစေကာမူ အခန်းတွင် ခိုင်းစေခံရသူ အလုပ်သမားအသီးသီးအတွက် ကုဗအကျယ်အဝန်းသည် ကုဗပေ ငါးရာအောက် မနည်းစေရ၊ ကုဗအကျယ်အဝန်းတွက်စစ်ရန် အလို့ငှာ ကြမ်းပြင်မှ ဆယ့်လေးပေအထက်မြင့်သော အကျယ်အဝန်းကို ထည့်သွင်းခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="lighting">အလင်းရောက်ရစေခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၁၉။</td>
        <td>(၁)</td>
        <td>အလုပ်သမားများ အလုပ်လုပ်နေသော ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="drinking-water">သောက်ရေ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၀။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် သင့်တော်၍ အသွားအလာ လွယ်ကူသော နေရာများ၌ အလုပ်သမားအားလုံးအတွက် သန့်ရှင်းစင်ကြယ်သော သောက်ရေကို လုံလောက်စွာ ထားရှိရန် ထိရောက်စွာ စီမံဆောင်ရွက်ပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>ရေထားပေးသော နေရာအားလုံးကို ပီသသောစာလုံးများဖြင့် "သောက်ရေ" ဟု ရေးမှတ်ထားရမည့်အပြင် ထိုနေရာကို အဝတ်လျှော်ဖွတ်ရာနေရာ၊ အိမ်သာ သို့တည်းမဟုတ် ကျင်ငယ်စွန့်ရန်နေရာမှ ပေနှစ်ဆယ်အတွင်း မထားရှိစေရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="toilets">အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၁။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်ရုံတိုင်းတွင် --</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>အလုပ်သမားများ အချိန်မရွေး လွယ်ကူစွာ သွားလာနိုင်သည့် နေရာများ၌ အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများကို သတ်မှတ်သော ပုံစံအတိုင်း လုံလောက်စွာ ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>မိန်းမအလုပ်သမားများအတွက် အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများကို ယောက်ျားအလုပ်သမားများအတွက် ထားရှိသော အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများမှ သီးခြားစီမံထားပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>ထိုအိမ်သာများ၏ အဝင်ဝတွင် "ယောက်ျား" သို့တည်းမဟုတ် "မိန်းမ" ဟု သက်ဆိုင်ရာစာတမ်းကိုဖြစ်စေ၊ အမှတ်အသားကိုဖြစ်စေ ထင်ရှားအောင် ကပ်ထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဃ)</td>
        <td>အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများကို အလင်းရောင်နှင့် လေလုံလောက်စွာရရှိအောင် စီမံထားရှိရမည်။ မည်သည့်အိမ်သာ သို့တည်းမဟုတ် ကျင်ငယ်စွန့်ရန်နေရာကိုမျှ ကြားနေရာလပ် သို့တည်းမဟုတ် လေဝင်လေထွက်နိုင်သောလမ်း မရှိဘဲ အလုပ်ခန်းနှင့် ဆက်သွယ်၍မထားရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(င)</td>
        <td>အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများကို မည်သည့်အချိန်တွင်မဆို သန့်ရှင်းစင်ကြယ်၍ ကျန်းမာရေးနှင့် ညီညွတ်သော အခြေအနေတွင် ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(စ)</td>
        <td>တံမြက်လှည်းသူ လုံလောက်စွာ ထားရှိရမည်။ ထိုတံမြက်လည်းသူ၏ အဓိက အလုပ်ဝတ္တရားမှာ အိမ်သာများ၊ ကျင်ငယ်စွန့်ရန်နေရာများနှင့် လျှော်ဖွတ်ရန်နေရာများကို သန့်ရှင်းစင်ကြယ်အောင် ပြုလုပ်ရန်ပင်ဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="2">သာမန်အားဖြင့် အလုပ်သမား နှစ်ရာ့ငါးဆယ်ထက်ပို၍ ခိုင်းစေသော အလုပ်ရုံတိုင်းတွင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>သန့်ရှင်းစင်ရေးနှင့် ညီညွတ်သည်ဟု သတ်မှတ်ထားသော ပုံစံအတိုင်း အိမ်သာများနှင့် ကျင်ငယ်စွန့်ရန်နေရာများ စီမံထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>အိမ်သာများ၊ ကျင်ငယ်စွန့်ရန်နေရာများ စသည့် သန့်ရှင်းစင်ကြယ်ရေးနှင့် ဆိုင်သော အဆောက်အဦးများ၏ ကြမ်းပြင်များနှင့် ထိုကြမ်းပြင်များမှ သုံးပေအမြင့်အထိ နံရံများကို ကြွေရည်သုတ် ကျောက်ပြား သို့တည်းမဟုတ် ချောမွေ့လျက် ရေစိမ့်မဝင်နိုင်သော အခြားပစ္စည်းများဖြင့် စီမံထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ဂ)</td>
        <td>ပုဒ်မခွဲ (၁)၊ အပိုဒ် (င) နှင့် (စ) ပါပြဌာန်းချက်များကို မထိခိုက်စေဘဲ ယင်းကဲ့သို့ စီမံပြုလုပ်ပြီးသည့် ကြမ်းပြင်နှင့် နံရံအစိတ်အပိုင်းကို လည်းကောင်း၊ ကျင်ကြီးကျင်ငယ် ခံခွက်များကို လည်းကောင်း၊ ရောဂါကင်းစေသည့် ဆေးကိုဖြစ်စေ၊ အနံ့ပျောက်ဆေးကိုဖြစ်စေ၊ နှစ်မျိုးလုံးကိုဖြစ်စေ အသုံးပြုနေ၍ နေ့စဥ် သန့်ရှင်းစင်ကြယ်အောင် ဆေးကြောထားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td colspan="2">...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="spittoon-and-garbage-dumps">တံတွေးထွေးရန်ခွက်နှင့် အမှိုက်ပုံများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၂၂။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် သင့်တော်သော နေရာတိုင်း၌ ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>

<p>&nbsp;</p>
