<h2>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</h2>
<h3>အခန်း (၄)<br>သက်သာချောင်ချိရေး</h3>

<h3 id="opportunity-to-wash">ဖွပ်လျှော်ဆေးကြောရန် လွယ်ကူမှု အခွင့်အလမ်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၄။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် -
            <table class="list">
                <tr>
                    <td>(က)</td>
                    <td>အလုပ်သမားများ ဖွပ်လျှော် ဆေးကြောနိုင်ရန် သင့်တော် လုံလောက်သော လွယ်ကူမှု အခွင့်အလမ်းများကို စီမံထားရှိရမည်။</td>
                </tr>
                <tr>
                    <td>(ခ)</td>
                    <td>ထိုလွယ်ကူမှုအခွင့်အလမ်းများကို ယောက်ျားအလုပ်သမားများနှင့် မိန်းမအလုပ်သမားများ အတွက် သီးခြား၍ လုံလောက်စွာ ကာရံထားရမည်။</td>
                </tr>
                <tr>
                    <td>(ဂ)</td>
                    <td>ထိုလွယ်ကူမှု အခွင့်အလမ်းများကို အလွယ်တကူ သွားလာဝင်ထွက်နိုင်အောင် စီမံ၍ သန့်ရှင်းစင်ကြယ်စွာ ထားရှိရမည်။</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="opportunity-to-keep-and-dry-clothes">အဝတ်များထားရန်နှင့် လှန်းရန် အခွင့်အလမ်းများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၅။</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="opportunity-to-sit">အလွယ်တကူထိုင်ရန် အခွင့်အလမ်းများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၆။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် မတ်တပ်အလုပ်လုပ်ကြသော အလုပ်သမားအားလုံးသည် မိမိတို့ အလုပ်လုပ်နေစဥ်အခါ နားခွင့်ကြုံက နားနိုင်ရန်အလို့ငှာ ထိုင်ရန် အခွင့်အလမ်းများကို သင့်တော်အောင် စီမံထားပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="first-aid">သူနာပြုကိရိယာများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၇။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတိုင်းတွင် ပြဌာန်းသည့် ပစ္စည်းများ ထည့်ထားသော သူနာပြု ဆေးသေတ္တာ သို့တည်းမဟုတ် ဆေးဘီရိုတစ်လုံးကို အလုပ်ချိန်အတွင်း အလွယ်တကူ အသုံးပြုနိုင်ရန် စစ်ဆေးရေးအရာရှိက ညွှန်ကြားသည့် သင့်လျော်သောနေရာတွင် အလုပ်ရုံမန်နေဂျာက အသင့်စီမံထားရှိရမည်။ အလုပ်သမား တစ်ရာ့ငါးဆယ်ထက်ပို၍ ခိုင်းစေလျှင် နောက်ထပ် အလုပ်သမား တစ်ရာအတွက် သို့တည်းမဟုတ် ထိုထက်နည်းသော နောက်ထပ် အလုပ်သမားများအတွက် နောက်ထပ် ဆေးသေတ္တာ သို့တည်းမဟုတ် ဆေးဘီရိုတစ်လုံး ထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>ပြဌာန်းထားသည့် ပစ္စည်းများမှလွဲ၍ အခြားမည်သည့်အရာကိုမျှ ပုဒ်မခွဲ (၁) တွင် ရည်ညွှန်းထားသည့် သူနာပြုဆေးသေတ္တာ၊ သို့တည်းမဟုတ် ဆေးဘီရိုတွင် မထားရ။ ထို့ပြင် ထိုသူနာပြု ဆေးသေတ္တာနှင့် ဆေးဘီရိုများကို သူနာပြုအတတ် တတ်မြောက်ပြီးသော တာဝန်ခံတစ်ယောက်၏ လက်အောက်တွင် ထားရှိရမည်။ ထိုသူသည် အလုပ်ချိန်တွင် အမြဲရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td>အလုပ်သမား နှစ်ရာ့ငါးဆယ်ထက်ပို၍ ခိုင်းစေသော အလုပ်ရုံတိုင်းတွင် ပြဌာန်းထားသည့် ပစ္စည်းများနှင့်တကွ ပြဌာန်းသည့် အကျယ်အဝန်းရှိသော သူနာပြုခန်း သို့တည်းမဟုတ် ဆေးပေးရုံတစ်ခု ထားရှိရမည်။ ထိုဆေးခန်းကို ပြဌာန်းထားသည့် ဆရာဝန်နှင့် သူနာပြုဆရာများက ကြီးကြပ်စီမံရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="shops-for-workers">အလုပ်သမားများအတွက်ဆိုင်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၈။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေ စစ်ဆေးရေးဦးစီးဌာနသည် သာမန်အားဖြင့် အလုပ်သမား နှစ်ရာ့ငါးဆယ်ထက်ပို၍ ခိုင်းစေသော သီခြားသတ်မှတ်ထားသည့် အလုပ်ရုံ၊ သို့တည်းမဟုတ် အလုပ်ရုံအမျိုးအစား တစ်ခုခုတွင် အလုပ်သမားများ ဝယ်ယူသုံးစွဲနိုင်ရန် အလို့ငှာ လုပ်ငန်းပိုင်ရှင်က လုံလောက်သော ဆိုင်တစ်ဆိုင် ထားရှိပေးရမည်ဟု ညွှန်ကြားချက်များ ထုတ်ပြန်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="rest-and-dinning-rooms">နားနေခန်းများနှင့် စားသောက်ခန်းများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၄၉။</td>
        <td>(၁)</td>
        <td>သာမန်အားဖြင့် အလုပ်သမား တစ်ရာထက်ပို၍ ခိုင်းစေသော အလုပ်ရုံတိုင်းတွင်၊ အလုပ်သမားများ အသုံးပြုရန် သင့်တော်လုံလောက်သော နားနေခန်းများနှင့် အလုပ်သမားများ မိမိတို့ယူဆောင်လာသော အစာကို စားနိုင်ရန် သောက်ရေနှင့်တကွ သင့်တော်လုံလောက်သော စားသောက်ခန်း စီမံထားရှိရမည်။<br>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="child-care-room">ကလေးထိန်းခန်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၀။</td>
        <td>(၁)</td>
        <td>မိခင်အလုပ်သမား ၁၀၀ ဦးနှင့်အထက်ရှိသော အလုပ်ရုံတွင် လုပ်ငန်းပိုင်ရှင်သည် ထိုမိခင်အလုပ်သမားများ၏ ငါးနှစ်အောက် ကလေးများအတွက် ကလေးထိန်းဌာနကို လူမှုဝန်ထမ်း၊ ကယ်ဆယ်ရေးနှင့် ပြန်လည်နေရာချထားရေး ဝန်ကြီးဌာန၏ အကူအညီရယူဆောင်ရွက်ရမည်။ မိခင်အလုပ်သမား ၁၀၀ ဦးမပြည့်သည့် အလုပ်ရုံတွင် ယင်းတို့၏ ငါးနှစ်အောက် ကလေးများအတွက် လုပ်ငန်းပိုင်ရှင်က ကလေးထိန်းခန်းကို သင့်တော်သလို စီမံထားရှိရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-to-add-supplements">ဤအခန်းကို ဖြည့်စွက်ရန် နည်းဥပဒေများ ပြုနိုင်သည့် အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေးဝန်ကြီးဌာန၏ အာဏာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၁။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
</table>

<p>&nbsp;</p>
