<div class="overtime-formula-container">
    <table class="overtime-formula">
        <caption>(က) လစားအလုပ်သမားများအတွက်</caption>
        <tr>
            <td rowspan="2">အချိန်ပို (၁) နာရီလုပ်ခ</td>
            <td rowspan="2">=</td>
            <td class="bottom-line">အခြေခံလစာ &times; ၁၂ လ</td>
            <td rowspan="2">&times;</td>
            <td rowspan="2">၂ ဆ</td>
        </tr>
        <tr>
            <td>၄၄ နာရီ (သို့မဟုတ်) ၄၈ နာရီ &times; ၅၂ ပတ်</td>
        </tr>
    </table>
    <table class="overtime-formula">
        <caption>(ခ) နေ့စားအလုပ်သမားများအတွက်</caption>
        <tr>
            <td rowspan="2">အချိန်ပို (၁) နာရီလုပ်ခ</td>
            <td rowspan="2">=</td>
            <td class="bottom-line">နေ့စားအခကြေးငွေ &times; ၆ ရက်</td>
            <td rowspan="2">&times;</td>
            <td rowspan="2">၂ ဆ</td>
        </tr>
        <tr>
            <td>၄၄ နာရီ (သို့မဟုတ်) ၄၈ နာရီ</td>
        </tr>
    </table>
    <table class="overtime-formula">
        <caption>(ဂ) ပုတ်ပြတ်အလုပ်သမားများအတွက်</caption>
        <tr>
            <td rowspan="2">အချိန်ပို (၁) နာရီလုပ်ခ</td>
            <td rowspan="2">=</td>
            <td class="bottom-line">ပျမ်းမျှနေ့တွက်ကြေး &times; ၆ ရက်</td>
            <td rowspan="2">&times;</td>
            <td rowspan="2">၂ ဆ</td>
        </tr>
        <tr>
            <td>၄၄ နာရီ (သို့မဟုတ်) ၄၈ နာရီ</td>
        </tr>
    </table>
</div>