<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(၈)</td>
        <td><b>အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ရက်သတ္တပတ် အလုပ်ပိတ်ရက်နှင့် အများပြည်သူ အလုပ်ပိတ်ရက်တို့ကို ဆိုသည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဋ)</td>
        <td><b>အများပြည်သူ အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ပြည်ထောင်စုအစိုးရအဖွဲ့က အမိန့်ကြော်ငြာစာဖြင့် နှစ်စဥ်ထုတ်ပြန်ကြေညာသည့် အများပြည်သူ အလုပ်ပိတ်ရက်များကို ဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="public-holiday">အများပြည်သူ အလုပ်ပိတ်ရက် ခွင့်ပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၃။</td>
        <td>(၁)</td>
        <td>အလုပ်ရှင်က မိမိ၏ အလုပ်သမားအသီးသီးအား သက်ဆိုင်ရာရာ အခကြေးငွေ သို့တည်းမဟုတ် လစာငွေအပြည့်နှင့် အောက်ပါနေ့များကို အများပြည်သူ အလုပ်ပိတ်ရက် အဖြစ်ဖြင့် ခွင့်ပြုရမည်။<br>ပြည်ထောင်စုအစိုးရအဖွဲ့က အမိန့်ကြော်ငြာစာဖြင့် နှစ်စဥ်ထုတ်ပြန်ကြေညာသည့် အများပြည်သူ အလုပ်ပိတ်ရက်များ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="coincidence-and-ot">ရက်သတ္တပတ် အလုပ်ပိတ်ရက်နှင့် တိုက်ဆိုင်နေလျှင် အခြားနေ့တစ်နေ့သို့ ပြောင်းလဲသတ်မှတ်ခွင့်မရှိခြင်းနှင့် အလုပ်လုပ်ရလျှင် အချိန်ပိုကြေးပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၃။</td>
        <td>(၂)</td>
        <td>အများပြည်သူ အလုပ်ပိတ်ရက်တစ်ရက်သည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်နှင့်ဖြစ်စေ၊ အခြားအများပြည်သူ အလုပ်ပိတ်ရက်နှင့်ဖြစ်စေ တိုက်ဆိုင်နေလျှင် အခြားနေ့တစ်နေ့ကို အများပြည်သူ အလုပ်ပိတ်ရက် အဖြစ်ဖြင့် ပြောင်းလဲ၍ခွင့်မပြုရ။ ထိုသို့ တိုက်ဆိုင်သည့် အလုပ်ပိတ်ရက်ကို အများပြည်သူ အလုပ်ပိတ်ရက် ဖြစ်သည်ဟု ယူဆရမည်။ သို့ရာတွင် အလုပ်သမားသည် အလုပ်လုပ်ရလျှင် ထိုအလုပ်သမားအား သက်ဆိုင်ရာရာ အခြေခံအခကြေးငွေကိုသော်လည်းကောင်း၊ အခြေခံလစာငွေကိုသော်လည်းကောင်း၊ ထိုနေ့အတွက် ပေးမြဲနှုန်း၏ နှစ်ဆရထိုက်စေရမည့်အပြင် ရှားပါးစရိတ်ရနေလျှင် ထိုနေ့အတွက် ပေးမြဲနှုန်းအတိုင်း ရှားပါးစရိတ်ကိုလည်း ရထိုက်စေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="non-buddhist">ဗုဒ္ဓဘာသာဝင် မဟုတ်သည့် အလုပ်သမားများအတွက် ပိတ်ရက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၃။</td>
        <td>(၃)</td>
        <td>ဗုဒ္ဓဘာသာဝင် မဟုတ်သည့် အလုပ်သမားများအတွက် ထိုအလုပ်သမားများနှင့် အလုပ်ရှင်များ အချင်းချင်း သဘောတူညီချက်အတိုင်း သက်ဆိုင်ရာရာ ဘာသာရေး အခါကြီးရက်ကြီးများကို လစာမရှိ အလုပ်ပိတ်ရက်အဖြစ်ဖြင့် ခွင့်ပြုနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="public-holidays-with-wages">အခကြေးငွေ သို့မဟုတ် လစာငွေအပြည့်ဖြင့် ခွင့်ပြုပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၃။</td>
        <td>(၄)</td>
        <td>အလုပ်ရှင်သည် အလုပ်သမားများအတွက် ရက်သတ္တတစ်ပတ်လျှင် အနည်းဆုံးတစ်ရက်ကို အခကြေးငွေ သို့မဟုတ် လစာငွေအပြည့်ဖြင့် အလုပ်ပိတ်ရက်အဖြစ် သတ်မှတ်၍ ခွင့်ပြုပေးရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wages-on-completion-of-weekly-work-hours">နေ့စားနှင့် ပုတ်ပြတ်အလုပ်သမားများ သတ်မှတ်အလုပ်ချိန်ပြည့်အောင် လုပ်ခဲ့ပြီးဖြင်လျှင် အခကြေးငွေ ခံစားခွင့်ရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၆။</td>
        <td>နေ့စားနှင့် ပုတ်ပြတ်အလုပ်သမားများသည် အများပြည်သူ အလုပ်ပိတ်ရက်အပါအဝင် သက်ဆိုင်ရာဥပဒေအရ ရက်သတ္တပတ် သတ်မှတ်အလုပ်ချိန်ပြည့်အောင် လုပ်ခဲ့ပြီးဖြင်လျှင် အများပြည်သူ အလုပ်ပိတ်ရက်ကို သတ်ဆိုင်ရာရာ အခကြေးငွေဖြင့် ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="working-on-public-holiday">အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၇။</td>
        <td>အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်ရမည်ဆိုပါက အလုပ်သမား၏ ဆန္ဒကို ရယူပြိး ယင်းနေ့မတိုင်မီ ဦးစီးဌာနသို့ ကြိုတင်ခွင့်ပြုမိန့်တောင်းခံရမည်။ ခွင့်ပြုချက်ရမှသာ အလုပ်ခိုင်းစေရမည်။</td>
    </tr>
    <tr>
        <td>၁၈။</td>
        <td>အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်စေရန် ကြံရွယ်ကြောင်းကို အနည်းဆုံး ၂၄ နာရီ ကြိုတင်၍ စစ်ဆေးရေးအရာရှိထံသို့ ကြိုတင်အကြောင်းကြားပြီး ဖြစ်ရမည့်အပြင် အလုပ်ဌာန၌လည်း အလုပ်သမားများ မြင်သာအောင် ကပ်ထားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="calucation-of-wages">အခြေခံလစာငွေ သို့မဟုတ် သက်ဆိုင်ရာရာ အခကြေးငွေ တွက်ချက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၉။</td>
        <td>အများပြည်သူ အလုပ်ပိတ်ရက်အတွက် အခြေခံလစာငွေ သို့မဟုတ် သက်ဆိုင်ရာရာ အခကြေးငွေကို တွက်ချက်ရာတွင် လစားအလုပ်သမားများအတွက် တစ်လစာ၏ ၃၀ ပုံ ၁ ပုံနှင့် ညီမျှသော အခကြေးငွေဖြင့် လည်းကောင်း၊ နေ့စားအလုပ်သမားများအတွက် အလုပ်ရှင်နှင့် သဘောတူညီထားသည့် တစ်နေ့အတွက် လုပ်ခနှုန်းထားဖြင့်လည်းကောင်း၊ ပုတ်ပြတ်အလုပ်သမားများအတွက် အများပြည်သူ အလုပ်ပိတ်ရက်မတိုင်မီ ခုနှစ်ရက်အတွင်း ရရှိသော လုပ်ခစုစုပေါင်းကို အမှန်တကယ်လုပ်ကိုင်ခဲ့သည့် အလုပ်ဆင်းရက်ဖြင့် စား၍ရရှိသော ပျမ်းမျှလုပ်ခနှုန်းဖြင့်လည်းကောင်း တွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="double-pay-even-under-daily-work-hours-limit">တစ်ရက် သတ်မှတ်အလုပ်ချိန် ပြည့်အောင် ခိုင်းစေခြင်းမရှိသည့်တိုင် နှစ်ဆပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၀။</td>
        <td>အလုပ်ရှင်သည် အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်သမားအား အလုပ်ခိုင်းစေရာ၌ တစ်ရက် သတ်မှတ်အလုပ်ချိန်ပြည့်အောင် ခိုင်းစေခြင်းမရှိဘဲ အချိန်ပိုင်းမျှသာ ခိုင်းစေသော်လည်း လုပ်ခကို ဥပဒေပါပြဌာန်းချက်အတိုင်း သက်ဆိုင်ရာရာ အခြေခံ အခကြေးငွေကို သော်လည်းကောင်း၊ အခြေခံလစာငွေကို သော်လည်းကောင်း ပေးမြဲနှုန်း၏ နှစ်ဆပေးချေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="double-pay-for-piece-rate-workers-with-full-daily-work-hours-limit">တစ်ရက် သတ်မှတ်အလုပ်ချိန် ပြည့်အောင် ခိုင်းစေသည့်ကိစ္စတွင် ပုတ်ပြတ်အလုပ်သမားများအား နှစ်ဆပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၁။</td>
        <td>အလုပ်ရှင်သည် အများပြည်သူ အလုပ်ပိတ်ရက်တွင် အလုပ်သမားအား အလုပ်ခိုင်းစေရာ၌ တစ်ရက် သတ်မှတ်အလုပ်ချိန်ပြည့်အောင် ခိုင်းစေသည့်ကိစ္စတွင် ပုတ်ပြတ်အလုပ်သမားများအတွက် ထိုနေ့ရရှိသည့် ထုတ်လုပ်မှုအရေအတွက် သို့မဟုတ် ဝန်ဆောင်မှုပမာဏပေါ်မူတည်၍ ရရှိသော လုပ်ခ၏ နှစ်ဆကို ပေးချေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="leave-before-and-after">ရှေ့ပိတ်၊ နောက်ပိတ် ခွင့်ယူခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂၂။</td>
        <td>အလုပ်သမားသည် အများပြည်သူ အလုပ်ပိတ်ရက် ကုန်ဆုံးပြီးနောက်တစ်ရက်မှ စတင်၍ ခွင့်တစ်မျိုးမျိုးခံစားလျှင် သို့မဟုတ် ခွင့်ရက်ကုန်ဆုံးပြီးနောက်ရက်သည် အများပြည်သူ အလုပ်ပိတ်ရက်ဖြစ်လျှင် အဆိုပါ အများပြည်သူအလုပ်ပိတ်ရက်ကို ခွင့်ရက်နှင့် အကျုံးဝင်သက်ဆိုင်ခြင်း မရှိစေရ။ သို့သော် အများပြည်သူ အလုပ်ပိတ်ရက်မတိုင်မီက စတင်ပြီး အများပြည်သူ အလုပ်ပိတ်ရက် ကုန်ဆုံးပြီးသည့်နောက်တစ်ရက် အပါအဝင်အထိ ခွင့်ခံစားခြင်းဖြစ်လျှင် အဆိုပါ အများပြည်သူအလုပ်ပိတ်ရက်ကို ခွင့်ရက်အဖြစ် အကျုံးဝင်သက်ဆိုင်စေရမည်။ ထိုအများပြည်သူ အလုပ်ပိတ်ရက်ကို အခြားတစ်ရက်သို့ ပြောင်းလဲတောင်းခံခြင်း မပြုရ။</td>
    </tr>
</table>

<p>&nbsp;</p>
