<h2>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းခြင်း</h2>
<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၁)</caption>
    <tr>
        <td>၂။</td>
        <td colspan="2">...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဎ)</td>
        <td><b>အခွင့်အရေးဆိုင်ရာ အငြင်းပွားမှု</b> ဆိုသည်မှာ အလုပ်သမားများ၏ အလုပ်သမားဥပဒေပါ ရပိုင်ခွင့်ဆိုင်ရာ အငြင်းပွားမှကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဏ)</td>
        <td><b>အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှု</b> ဆိုသည်မှာ စုပေါင်းသဘောတူညီချက်နှင့် စပ်လျဥ်းသော အငြင်းပွားမှု၊ အလုပ်သမားဥပဒေပါ ရပိုင်ခွင့်များနှင့် အကျုံးဝင်မှုမရှိသော်လည်း အလုပ်သမားအများစု၏ ရသင့်ရထိုက်သော အကျိုးစီးပွားနှင့် သက်ဆိုင်သည့် အငြင်းပွားမှုနှင့် လုပ်ငန်းခွင် ဆက်ဆံရေးနှင့် စပ်လျဥ်းသော အငြင်းပွားမှုကို ဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wcc-to-resolve-complaint-first">တောင်းဆိုတိုင်ကြားချက်ကို <a href="/legal/labor-laws/wcc/">အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှုိင်းရေးကော်မတီ</a> က ဦးစွာ ဆွေးနွေးညှိနှိုင်းဖြေရှင်းရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၂)</caption>
    <tr>
        <td>၆။</td>
        <td>(က)</td>
        <td>အလုပ်သမား သို့မဟုတ် အလုပ်သမားအဖွဲ့အစည်း ဘက်ကဖြစ်စေ၊ အလုပ်ရှင်ဘက်ကဖြစ်စေ ၎င်းတို့၏ နစ်နာချက်ကို ညှိနှိုင်းရေးကော်မတီသို့ ကိုယ်တိုင် သို့မဟုတ် ကိုယ်စားလှယ်ဖြင့် တောင်းဆိုတိုင်ကြားလာပါက ညှိနှိုင်းရေးကော်မတီသည် တောင်ဆိုချက်ကို လက်ခံရရှိသည့်နေ့မှ ခုနှစ်ရက်အတွင်း ဆွေးနွေးညှိနှိုင်းဖြေရှင်းရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ညှိနှိုင်းရေးကော်မတီသည် ဆောက်ရွက်မှု အခြေအနေကို ဖြေရှင်းမှုမှတ်တမ်း ရေးသားထားရှိ၍ သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့ သို့ သတ်မှတ်ချက်နှင့်အညီ အစီရင်ခံစာပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td>၇။</td>
        <td colspan="2">အလုပ်သမား ၃၀ ဦးမပြည့်သဖြင့် ညှိနှိုင်းရေးကော်မတီ ဖွဲ့စည်းခြင်းမရှိသည့် လုပ်ငန်းတွင် နစ်နာချက်ကို အလုပ်ရှင်ထံတောင်းဆိုပါက အလုပ်ရှင်သည် အလုပ်သမားများ သို့မဟုတ် ယင်းတို့၏ ကိုယ်စားလှယ်များနှင့် တောင်းဆိုချက်ကို လက်ခံရရှိသည့်နေ့မှ ခုနှစ်ရက်အတွင်း ဆွေးနွေးညှိနှိုင်းဖြေရှင်းပြီး ဖြေရှင်းမှုမှတ်တမ်း ရေးသားထားရှိ၍ သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့က တောင်းခံသည့်အခါ ယင်းမှတ်တမ်းကို ပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td>၈။</td>
        <td colspan="2">လုပ်ငန်းတစ်ခုတည်းတွင် အလုပ်သမားအဖွဲ့အစည်း ကိုယ်စားလှယ်များနှင့် အလုပ်သမားများက ရွေးချယ်ပေးသော ကိုယ်စားလှယ်များ ပူးတွဲရှိနေခဲ့လျှင် သက်ဆိုင်ရာအလုပ်သမားအဖွဲ့အစည်းနှင့် ယင်းတို့၏ အနေအထားလျော့ပါးစေရန် အလုပ်ရှင်သည် သက်ဆိုင်ရာအလုပ်သမားများက ရွေးချယ်ပေးသော ကိုယ်စားလှယ်များကို အသုံးပြု၍ ဆောင်ရွက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td>၉။</td>
        <td colspan="2">ပုဒ်မ ၆ သို့မဟုတ် ပုဒ်မ ၇ တို့အရ ဆွေးနွေးညှိနှိုင်းရာတွင် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ပြေငြိမ်းမှုရရှိပါက အလုပ်ရှင်နှင့် အလုပ်သမားများသည် စုပေါင်းသဘောတူညီချက်ကို ချုပ်ဆိုပြီး သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ မိတ္တူပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပြေငြိမ်းမှုမရရှိပါက အငြင်းပွားမှုနှင့် စပ်လျဥ်း၍ ဖျန်ဖြေရေးကို ဆက်လက်ခံယူလိုပါက အလုပ်ရှင် သို့မဟုတ် အလုပ်သမားသည် သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ တိုင်ကြားနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="right-dispute">အခွင့်အရေးဆိုင်ရာ အငြင်းပွားမှုကို တိုင်ကြားနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၃။</td>
        <td>အလုပ်ရှင် သို့မဟုတ် အလုပ်သမား တစ်ဘက်ဘက်သည် အခွင့်အရေးဆိုင်ရာ အငြင်းပွားမှုနှင့် စပ်လျဥ်း၍ မကျေနပ်သူကိုယ်တိုင်ဖြစ်စေ၊ တရားဝင်လွှဲအပ်ထားသော ကိုယ်စားလှယ်ဖြင့် ဖြစ်စေ သက်ဆိုင်ရာ ဦးဌာနများ သို့မဟုတ် စီရင်ပိုင်ခွင့်ရှိသော တရားရုံးသို့ လျှောက်ထားနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="interest-dispute">အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုကို တိုင်းကြားနိုင်ခြင်းနှင့် ခုနှစ်ရက်အတွင်း ဖျန်ဖြေပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၄။</td>
        <td colspan="2">အငြင်းပွားမှုနှင့် စပ်လျဥ်း၍ အလုပ်ရှင် သို့မဟုတ် အလုပ်သမား တစ်ဘက်ဘက်၏ တိုင်ကြားချက်အရ ဖြစ်စေ၊ ဝန်ကြီဌာန၏ အကြောင်းကြားချက်အရဖြစ်စေ၊ ဝန်ကြီဌာန၏ အကြောင်းကြားချက်အရ ဖြစ်စေ၊ တိုင်းဒေသကြီး သို့မဟုတ် ပြည်နယ်အစိုးရအဖွဲ့ သို့မဟုတ် နေပြည်တော်ကော်စီ၏ အကြောင်းကြားချက်အရ ဖြစ်စေ၊ အခြားနည်းလမ်းတစ်ခုခုအရ ဖြစ်စေ သိရှိသည့် သို့မဟုတ် လက်ခံရရှိသည့် အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုကို သက်ဆိုင်ရာ ညှိနှုိင်းဖျန်ဖြေရေးအဖွဲ့သည် အောက်ပါအတိုင်း ဆောင်ရွက်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အငြင်းပွားမှုနှင့် စပ်လျဥ်း၍ သိရှိသည့် သို့မဟုတ် လက်ခံရရှိသည့် နေ့ရက်မှ ခုနှစ်ရက်အတွင်း ပြေငြိမ်းစေရန် ဖျန်ဖြေပေးရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုဒ်မခွဲ (က) အရ ဖျန်ဖြေရာတွင် ပြေငြိမ်းမှုရရှိပါက ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့ ရှေ့မှောက်တွင် နှစ်ဘက် သဘောတူစာချုပ် ချုပ်ဆိုစေခြင်း</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ညှိနှုိင်းဖျန်ဖြေရေးအဖွဲ့ ရှေ့မှောက်တွင် ချုပ်ဆိုသည့် နှစ်ဘက်သဘောတူစာချုပ် ဖောက်ဖျက်လျှင် ဦးစီးဌာနမှ တာဝန်ပေးအပ်သည့် အရာရှိက ဖောက်ဖျက်သည့်ဘက်ကို တရားစွဲရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="referring-to-arbitration-body">အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုကို သက်ဆိုင်ရာ ခုံသမာဓိအဖွဲ့သို့ လွှဲပြောင်းပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၅။</td>
        <td>ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သည် ပြေငြိမ်းမှုမရရှိသော အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုကို သက်ဆိုင်ရာ ခုံသမာဓိအဖွဲ့သို့ လွှဲပြောင်းပေးပို့ပြီး ထိုသို့ လွှဲပြောင်းပေးပို့ကြောင်းကို အငြင်းပွားမှုနှင့် သက်ဆိုင်သူများထံ အသိပေးအကြောင်းကြားရမည်။</td>
    </tr>
    <tr>
        <td>၂၆။</td>
        <td>ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သည် ဖျန်ဖြေရေးဆောင်ရွက်ရာတွင် ပြေငြိမ်းမှုမရသည့် အချက်များအပေါ် သုံးသပ်အကြံပြုချက်ပါဝင်သော အသေးစိတ်အစီရင်ခံစာနှင့်အတူ အမှုတွဲအား တရားဝင်ရုံးပိတ်ရက်များမပါ နှစ်ရက်အတွင်း သက်ဆိုင်ရာ ခုံသမာဓိအဖွဲ့သို့ လွှဲပြောင်းပေးအပ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="arbitration-body-to-resolve-within-7-days">ခုံသမာဓိအဖွဲ့သည် လက်ခံရရှိသည့် အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုကို ခုနှစ်ရက်အတွင်း ဖြေရှင်းပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၇။</td>
        <td>သက်ဆိုင်ရာ ခုံသမာဓိအဖွဲ့သည် ပုဒ်မ ၂၆ အရ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့က လွှဲအပ်သော အကျိုးစီးပွားဆိုင်ရာ အငြင်းပွားမှုအား လက်ခံရရှိသည့်နေ့ရက်မှ ခုနှစ်ရက်အတွင်း ဆုံးဖြတ်ချက် ချမှတ်ရမည်ဖြစ်ပြီး တရားဝင်ရုံးပိတ်ရက်များမပါ နှစ်ရက်အတွင်း သက်ဆိုင်ရာ အငြင်းပွားသူများထံ ဆုံးဖြတ်ချက်ပေးပို့ရမည်။ မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုလုပ်ငန်း သို့မဟုတ် အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် သက်ဆိုင်သည့် ဆုံးဖြတ်ချက်ဖြစ်ပါက ဝန်ကြီးဌာနနှင့် သက်ဆိုင်ရာ တိုင်းဒေသကြီး သို့မဟုတ် ပြည်နယ်အစိုးရအဖွဲ့များသို့ မိတ္တူပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="continue-to-arbitration-council">ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို မကျေနပ်ပါက ခုံသမာဓိကောင်စီသို့ တက်ရောက်နိုင်ခြင်း သို့မဟုတ် သပိတ်မှောက်နိုင်ခြင်း၊ အလုပ်ပိတ်နိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၈။</td>
        <td colspan="2">မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုလုပ်ငန်းနှင့် သက်ဆိုင်သည့် ဆုံးဖြတ်ချက်မှတပါး ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို မကျေနပ်ပါက အငြင်းပွားသူများသည် အောက်ပါတို့ကို ဆောင်ရွက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို လက်ခံရရှိသည့်နေ့မှ ခုနှစ်ရက်အတွင်း ခုံသမာဓိကောင်စီ၏ အဆုံးအဖြတ်ခံယူရန် အငြင်းပွားသူ တစ်ဘက်ဘက်မှ လျှောက်ထားခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်းကို သက်ဆိုင်ရာ ဥပဒေအရ ပြုလုပ်နိုင်ခြင်း။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="essential-works-to-arbitration-council">မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုလုပ်ငန်းဖြစ်ပါက ခုံသမာဓိကောင်စီသို့ နှစ်ရက်အတွင်း လျှောက်ထားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၉။</td>
        <td>မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုလုပ်ငန်းနှင့် စပ်လျဥ်း၍ ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို မကျနပ်သည့် သက်ဆိုင်ရာ အငြင်းပွားသူ တစ်ဦးဦးသည် ယင်းဆုံးဖြတ်ချက်ကို လက်ခံရရှိသည့် နေ့ရက်မှ တရားဝင် ရုံးပိတ်ရက်များမပါ ခုနှစ်ရက်အတွင်း ခုံသမာဓိကောင်စီသို့ လျှောက်ထားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="arbitration-council-to-provide-decision">လျှောက်ထားချက်အပေါ် ခုံသမာဓိကောင်စီက ၁၄ ရက် သို့မဟုတ် ၇ ရက်အတွင်း ဆုံးဖြတ်ချက်ချခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၃၀။</td>
        <td colspan="2">ခုံသမာဓိကောင်စီသည် ပုဒ်မ ၂၈၊ ပုဒ်မခွဲ (က) နှင့် ပုဒ်မ ၂၉ တို့အရ လျှောက်ထားချက်နှင့် စပ်လျဥ်း၍ စစ်ဆေးဆုံးဖြတ်ရန် ခုံအဖွဲ့ကို ဖွဲ့စည်း၍ တာဝန်ပေးရမည်။</td>
    </tr>
    <tr>
        <td>၃၁။</td>
        <td colspan="2">ခုံအဖွဲ့သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ပုဒ်မ ၂၈၊ ပုဒ်မခွဲ (က) အရ လျှောက်ထားသည့် အငြင်းပွားမှုကို လက်ခံရရှိသည့် နေ့ရက်မှ ၁၄ ရက်အတွင်း ဆုံးဖြတ်ချက် ချမှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ဆုံးဖြတ်ချက်ကို တရားဝင်ရုံးပိတ်ရက်များမပါ နှစ်ရက်အတွင်း သက်ဆိုင်ရာ အငြင်းပွားသူများထံ ပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td>၃၂။</td>
        <td colspan="2">ခုံအဖွဲ့သည် -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ပုဒ်မ ၂၉ အရ လျှောက်ထားသည့် အငြင်းပွားမှုကို လက်ခံရရှိသည့် နေ့ရက်မှ ခုနှစ်ရက်တွင်း ဆုံးဖြတ်ချက် ချမှတ်ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ဆုံးဖြတ်ချက်ကို တရားဝင်ရုံးပိတ်ရက်များမပါ နှစ်ရက်အတွင်း သက်ဆိုင်ရာ အငြင်းပွားသူများထံ ပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="decision-copy-must-be-sent-to-ministry-and-relevant-others">ဆုံးဖြတ်ချက်မိတ္တူကို ဝန်ကြီးဌာနနှင့် သက်ဆိုင်ရာ ဌာနများသို့ ပေးပို့ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၃၃။</td>
        <td>ခုံသမာဓိကောင်စီသည် ပုဒ်မ ၃၂၊ ပုဒ်မခွဲ (က) အရ ခုံအဖွဲ့က ချမှတ်သော ဆုံးဖြတ်ချက်မိတ္တူကို ဝန်ကြီးဌာနနှင့် သက်ဆိုင်ရာ တိုင်းဒေသကြီး သို့မဟုတ် ပြည်နယ်အစိုးရအဖွဲ့၊ နေပြည်တော်ကော်စီ အပါအဝင် ကိုယ်ပိုင်အုပ်ချုပ်ခွင့်ရတိုင်း သို့မဟုတ် ကိုယ်ပိုင်အုပ်ချုပ်ခွင့်ရဒေသ ဦးစီးအဖွဲ့များထံ ပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="arbitration-body-decision-is-confirmed-if-not-continue-to-arbitration-council">ခုံသမာဓိကောင်စီသို့ တင်ပြလျှောက်ထားခြင်းမရှိလျှင် ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက် အတည်ဖြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၇)</caption>
    <tr>
        <td>၃၄။</td>
        <td>ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို နှစ်ဘက်အငြင်းပွားသူများက သဘောတူလျှင် သို့မဟုတ် အငြင်းပွားသူ တစ်ဘက်ဘက်က သတ်မှတ်ကာလအတွင်း ခုံသမာဓိကောင်စီသို့ တင်ပြလျှောက်ထားခြင်းမရှိလျှင် ယင်း ဆုံးဖြတ်ချက်သည် ချမှတ်သည့်နေ့မှစ၍ အတည်ဖြစ်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="decision-of-arbitration-council">ခုံအဖွဲ့၏ ဆုံးဖြတ်ချက်သည် ခုံသမာဓိကောင်စီ၏ ဆုံးဖြတ်ချက်ဖြစ်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၇)</caption>
    <tr>
        <td>၃၅။</td>
        <td>ခုံအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို ခုံသမာဓိကောင်စီ၏ ဆုံးဖြတ်ချက်အဖြစ် မှတ်ယူရမည်။ ယင်းဆုံးဖြတ်ချက်သည် ချမှတ်သည့်နေ့မှစ၍ အတည်ဖြစ်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="ammending-the-decision">ဆုံးဖြတ်ချက်ကို ရက်ပေါင်း ၉၀ ကျော်ပါက ပြင်ဆင်နိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၇)</caption>
    <tr>
        <td>၃၆။</td>
        <td>သက်ဆိုင်ရာ အငြင်းပွားသူများသည် ခုံသမာဓိအဖွဲ့ သို့မဟုတ် ခုံသမာဓိကောင်စီ၏ ဆုံးဖြတ်ချက် အတည်ဖြစ်သည့် နေ့ရက်မှ ရက်ပေါင်း ၉၀ ကျော်လွန်ပါက ယင်း ပြင်ဆင်ပြောင်းလဲရန် သဘောတူညီနိုင်သည်။ ယင်းသဘောတူညီချက်အရ ပြင်ဆင်ပြောင်းလဲချက်သည် ခုံသမာဓိ ဆုံးဖြတ်ချက်၏ သက်ဆိုင်ရာ အပိုင်းကို လွှမ်းမိုးစေရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="persons-to-follow-the-decision">ဆုံးဖြတ်ချက်ကို လိုက်နာရမည့် ပုဂ္ဂိုလ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list large-margin-bottom">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၇)</caption>
    <tr>
        <td>၃၇။</td>
        <td colspan="2">အတည်ဖြစ်ပြီးသည့် ဆုံးဖြတ်ချက်ကို အောက်ပါ ပုဂ္ဂိုလ်များက လိုက်နာရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အငြင်းပွားမှုနှင့် သက်ဆိုင်သူ အားလုံး၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အငြင်းပွားမှုတွင် ပါဝင်သော အလုပ်ရှင်၏ ဥပဒေအရ တရားဝင်ဆက်ခံသူများ၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အငြင်းပွားမှု ဖြစ်ပွားသောအချိန်တွင် သို့မဟုတ် အငြင်းပွားမှု ဖြစ်ပွားပြီးနောက် လုပ်ငန်းတွင် အလုပ်လုပ်ကိုင်နေကြသော အလုပ်သမားများ အားလုံး။</td>
    </tr>
</table>
