<h2>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</h2>
<h3>အခန်း (၆)<br>အထူးသက်ဆိုင်စေခြင်း</h3>

<h3 id="hazardous-works">ဘေးအန္တရာယ်ဖြစ်စေတတ်သည့် အလုပ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၂။</td>
        <td colspan="2">အလုပ်ရုံတွင် လုပ်ရသည့်အလုပ်သည် အလုပ်သမားတို့၏ ကိုယ်အင်္ဂါကို ထိခိုက်နာကျင်စေမည့် သို့တည်းမဟုတ် အလုပ်သမားများကို အဆိပ်မိစေမည့် သို့တည်းမဟုတ် ရောဂါဖြစ်စေမည့် လက္ခဏာရှိသည့် အလုပ်ဖြစ်သည်ဟု အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေး ဝန်ကြီးဌာနက ထင်မြင်သဘောရရှိလျှင် အလုပ်လုပ်နေသည့် အလုပ်ရုံတစ်ခုခုနှင့် သော်လည်းကောင်း၊ အလုပ်ရုံအမျိုးအစားတစ်ခုခုနှင့် သော်လည်းကောင်း၊ သက်ဆိုင်သည့် နည်းဥပဒေများကို ပြုနိုင်သည်။ ထိုနည်းဥပဒေများဖြင့် -</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="accident-report">မတော်တဆထိခိုက်မှုများကို နို့တစ်စာပေးပို့ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၃။</td>
        <td>အလုပ်ရုံတွင် မတော်တဆထိခိုက်၍ သေဆုံးလျှင်သော်လည်းကောင်း၊ ကိုယ်အင်္ဂါ ထိခိုက်နာကျင်ပြီးနောက် လေးဆယ့်ရှစ်နာရီမျှ၊ သို့တည်းမဟုတ် လေးဆယ့်ရှစ်နာရီထက်ပို၍ အလုပ်ရုံတွင် အလုပ်မလုပ်နိုင်လျှင် သော်လည်းကောင်း၊ ဤကိစ္စအလို့ငှာ ပြဌာန်းသတ်မှတ်ထားသည့် အမျိုးအစားဖြစ်သော မတော်တဆ ထိခိုက်မှုဖြစ်လျှင် သော်လည်းကောင်း၊ အလုပ်ရုံမန်နေဂျာသည် ဆိုခဲ့သည့်အတိုင်း မတော်တဆ ထိခိုက်သည့်အကြောင်းကို ပြဌာန်းသည့် ပုံစံဖြင့် နို့တစ်စာရေးသား၍ ပြဌာန်းသည့် အချိန်အတွင်း ပြဌာန်းသည့် အာဏာပိုင်တို့ထံ ပေးပို့ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="disease-report">ရောဂါဖြစ်ပွားကြောင်းကို နို့တစ်စာပေးပို့ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၄။</td>
        <td>(၁)</td>
        <td>အလုပ်ရုံတွင် အလုပ်လုပ်သော အလုပ်သမားတစ်ဦးဦးကို အလုပ်သမားလျော်ကြေး အက်ဥပဒေ၏ ဇယား ၃ တွင် သီးခြားဖော်ပြထားသည့် ရောဂါတစ်မျိုးမျိုး စွဲကပ်လျှင် ထိုသို့ စွဲကပ်ကြောင်းကို အလုပ်ရုံမန်နေဂျာက အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေ စစ်ဆေးရေးဦးစီးဌာန၊ ညွှန်ကြားရေးမှူးချုပ် ထံသို့လည်းကောင်း၊ အလုပ်ရုံတည်ရှိရာ ခရိုင်အတွက် တာဝန်ခံထံသို့လည်းကောင်း၊ အလုပ်ရုံတည်ရှိရာ ခရိုင်အတွက် အလုပ်လုပ်ရန် သင့်လျော်ကြောင်း မှတ်ပုံတင်ဆရာဝန် ထောက်ခံချက်လက်မှတ် ထုတ်ပေးသည့် ဆရာဝန်ထံသို့ လည်းကောင်း၊ ပြဌာန်းပုံစံဖြင့် ပြဌာန်းသည့် အကြောင်းအရာများ ဖော်ပြလျက် ပြဌာန်းသည့် အချိန်အတွင်း နို့တစ်စာပေးပို့ရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-to-conduct-inspection">မတော်တဆထိခိုက်မှုများနှင့် ရောဂါဖြစ်ပွားမှုများကို စုံစမ်းစစ်ဆေးရန် ဆင့်ဆိုနိုင်သည့် အာဏာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၅။</td>
        <td>(၁)</td>
        <td>အလုပ်သမား အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေး ဝန်ကြီးဌာနသည် ...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="power-to-take-example">နမူနာယူရန် အာဏာ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၆။</td>
        <td>(၁)</td>
        <td colspan="2">အလုပ်ရုံတွင် အသုံးပြုသည့် သို့တည်းမဟုတ် အသုံးပြုရန် ကြံရွယ်သည့် မည်သည့် ပစ္စည်းမဆို -</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="building-and-engineering-works">အဆောက်အဦးတည်ဆောက်ခြင်းနှင့် အခြားအင်ဂျင်နီယာ အလုပ်များ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၇။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="sea-shipyards-and-bridges">ပင်လယ်ကူး သင်္ဘောကျင်း၊ ပင်လယ်ကူး သင်္ဘောတံတား၊ ပင်လယ်ကူး သင်္ဘောဆိပ်ခံတံတား၊ ကုန်လှောင်ရုံနှင့် သင်္ဘောများ<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၇။</td>
        <td>(၁)</td>
        <td>...</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>

<p>&nbsp;</p>
