<h3 id="definition">အဓိပ္ပါယ်ဖွင့်ဆိုချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဇ)</td>
        <td><b>အလုပ်ပိတ်ခြင်း</b> ဆိုသည်မှာ အလုပ်ရှင် အလုပ်သမား အငြင်းပွားမှုတစ်ခုခုတွင် ညှိနှိုင်း၍ မရနိုင်သည့် အခြေအနေ၌ အလုပ်ရှင်က လုပ်ငန်းတစ်ခုခု၏ အလုပ်လုပ်သောနေရာကို ယာယီပိတ်ခြင်း၊ အလုပ်ကို ခေတ္တရပ်ဆိုင်းထားခြင်း သို့မဟုတ် အလုပ်ခွင်ရှိ အလုပ်သမားများအား ဆက်လက်အလုပ်လုပ်ခွင့်မပြုခြင်းကို ဆိုသည်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(စ)</td>
        <td><b>အလုပ်ပိတ်ခြင်း</b> ဆိုသည်မှာ အလုပ်ရှင် အလုပ်သမား အငြင်းပွားမှုတစ်ခုခုတွင် ညှိနှိုင်း၍ မရနိုင်သည့် အခြေအနေ၌ အလုပ်ရှင်က လုပ်ငန်းတစ်ခုခု၏ အလုပ်လုပ်သောနေရာကို ယာယီပိတ်ခြင်း၊ အလုပ်ကို ခေတ္တရပ်ဆိုင်းထားခြင်း သို့မဟုတ် အလုပ်ခွင်ရှိ အလုပ်သမားများအား ဆက်လက်အလုပ်လုပ်ခွင့်မပြုခြင်းကို ဆိုသည်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမားရေးရာ လုပ်ငန်းညှိနှိုင်းရေးဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဈ)</td>
        <td><b>သပိတ်မှောက်ခြင်း</b> ဆိုသည်မှာ အလုပ်ရှင်နှင့် အလုပ်သမား အငြင်းပွားမှုတစ်ခုခုတွင် ညှိနှိုင်း၍ မရနိုင်သည့်အခြေအနေ၌ လူမှုရေး သို့မဟုတ် အလုပ်အကိုင်ဆိုင်ရာ ကိစ္စများနှင့် စပ်လျဥ်း၍ အလုပ်သမားအချို့ကဖြစ်စေ၊ အားလုံးကဖြစ်စေ၊ လုပ်ငန်းခွင်နှင့် သက်ဆိုင်သည့် အလုပ်သမား အဖွဲ့အစည်းများကဖြစ်စေ ဆုံးဖြတ်၍ အလုပ်ရပ်ဆိုင်းခြင်း၊ အလုပ်လုပ်ကိုင်ရန်ဖြစ်စေ၊ အလုပ်ဆက်လက် လုပ်ကိုင်ရန်ဖြစ်စေ ငြင်းဆန်ခြင်း၊ အလုပ်နှောင့်နှေးစေရန်ပြုလုပ်ခြင်း သို့မဟုတ် အလုပ်သမားအများစု သဘောတူညီချက်ဖြင့် ထုတ်လုပ်မှုကိုဖြစ်စေ၊ ဝန်ဆောင်မှုကိုဖြစ်စေ ထိခိုက်ကျဆင်းစေသည့် စုပေါင်း လုပ်ဆောင်ခြင်းကို ဆိုသည်။ ယင်းစကားရပ်တွင် အလုပ်သမားများ၏ အသက် သို့မဟုတ် ကျန်းမာရေးအပေါ် ရုတ်တရက် ပြင်းထန်စွာ အန္တရာယ်ကျရောက်မည်ဟု ယုတ္တိတန်စွာ ယုံကြည်သည့် အကြောင်းကြောင့် လုပ်ငန်းခွင်မှ ထွက်ခွာသွားနိုင်သော အခွင့်အရေးကို ကျင့်သုံးခြင်း မပါဝင်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဆ)</td>
        <td><b>သပိတ်မှောက်ခြင်း</b> ဆိုသည်မှာ အလုပ်ရှင်နှင့် အလုပ်သမား အငြင်းပွားမှုတစ်ခုခုတွင် ညှိနှိုင်း၍ မရနိုင်သည့်အခြေအနေ၌ လူမှုရေး သို့မဟုတ် အလုပ်အကိုင်ဆိုင်ရာ ကိစ္စများနှင့် စပ်လျဥ်း၍ အလုပ်သမားအချို့ကဖြစ်စေ၊ အားလုံးကဖြစ်စေ၊ လုပ်ငန်းခွင်နှင့် သက်ဆိုင်သည့် အလုပ်သမား အဖွဲ့အစည်းများကဖြစ်စေ ဆုံးဖြတ်၍ အလုပ်ရပ်ဆိုင်းခြင်း၊ အလုပ်လုပ်ကိုင်ရန်ဖြစ်စေ၊ အလုပ်ဆက်လက် လုပ်ကိုင်ရန်ဖြစ်စေ ငြင်းဆန်ခြင်း၊ အလုပ်နှောင့်နှေးစေရန်ပြုလုပ်ခြင်း သို့မဟုတ် အလုပ်သမားအများစု သဘောတူညီချက်ဖြင့် ထုတ်လုပ်မှုကိုဖြစ်စေ၊ ဝန်ဆောင်မှုကိုဖြစ်စေ ထိခိုက်ကျဆင်းစေသည့် စုပေါင်း လုပ်ဆောင်ခြင်းကို ဆိုသည်။ ယင်းစကားရပ်တွင် အလုပ်သမားများ၏ အသက် သို့မဟုတ် ကျန်းမာရေးအပေါ် ရုတ်တရက် ပြင်းထန်စွာ အန္တရာယ်ကျရောက်မည်ဟု ယုတ္တိတန်စွာ ယုံကြည်သည့် အကြောင်းကြောင့် လုပ်ငန်းခွင်မှ ထွက်ခွာသွားနိုင်သော အခွင့်အရေးကို ကျင့်သုံးခြင်း မပါဝင်။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(ဆ)</td>
        <td colspan="2"><b>အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်း</b> ဆိုသည်မှာ အောက်ဖော်ပြပါ လုပ်ငန်းများကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>သယ်ယူပို့ဆောင်ရေးလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>ဆိပ်ကမ်းလုပ်ငန်းနှင့် ဆိပ်ကမ်းကုန်တင်ကုန်ချလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>စာတိုက်၊ တဲလက်စ် သို့မဟုတ် ဖက်(စ်) လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>သတင်းအချက်အလက်နှင့် ဆက်သွယ်ရေး နည်းပညာဆိုင်ရာ လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>အများပြည်သူတို့အတွက် ရေနံ သို့မဟုတ် ရေနံထွက်ပစ္စည်း ဖြန့်ဖြူးသည့် လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အညစ်အကြေးသိမ်းဆည်းရေး သို့မဟုတ် ကျန်းမာသန့်ရှင်းရေးလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>အများပြည်သူတို့အား လျှပ်စစ်ဓါတ်အား သို့မဟုတ် လောင်စာစွမ်းအင် ထုတ်လုပ်ပို့လွှတ် ဖြန့်ဖြူးသည့် လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၈)</td>
        <td>အများပြည်သူဆိုင်ရာ ငွေကြေး ဝန်ဆောင်မှု လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၉)</td>
        <td>ပြည်ထောင်စု အစိုးရက အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းဟု အခါအားလျော်စွာ သတ်မှတ်သည့် လုပ်ငန်း။</td>
    </tr>
</table>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(င)</td>
        <td colspan="2"><b>အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်း</b> ဆိုသည်မှာ အောက်ဖော်ပြပါ လုပ်ငန်းများကို ဆိုသည်။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၁)</td>
        <td>သယ်ယူပို့ဆောင်ရေးလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၂)</td>
        <td>ဆိပ်ကမ်းလုပ်ငန်းနှင့် ဆိပ်ကမ်းကုန်တင်ကုန်ချလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၃)</td>
        <td>စာတိုက်၊ တဲလက်စ် သို့မဟုတ် ဖက်(စ်) လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၄)</td>
        <td>သတင်းအချက်အလက်နှင့် ဆက်သွယ်ရေး နည်းပညာဆိုင်ရာ လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၅)</td>
        <td>အများပြည်သူတို့အတွက် ရေနံ သို့မဟုတ် ရေနံထွက်ပစ္စည်း ဖြန့်ဖြူးသည့် လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၆)</td>
        <td>အညစ်အကြေးသိမ်းဆည်းရေး သို့မဟုတ် ကျန်းမာသန့်ရှင်းရေးလုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၇)</td>
        <td>အများပြည်သူတို့အား လျှပ်စစ်ဓါတ်အား သို့မဟုတ် လောင်စာစွမ်းအင် ထုတ်လုပ်ပို့လွှတ် ဖြန့်ဖြူးသည့် လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၈)</td>
        <td>အများပြည်သူဆိုင်ရာ ငွေကြေး ဝန်ဆောင်မှု လုပ်ငန်း</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(၉)</td>
        <td>ပြည်ထောင်စု အစိုးရက အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းဟု အခါအားလျော်စွာ သတ်မှတ်သည့် လုပ်ငန်း။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="closure-or-strike-after-arbitration-body-decision">ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို မကျေနပ်ပါက သပိတ်မှောက်နိုင်ခြင်း သို့မဟုတ် အလုပ်ပိတ်နိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၆)</caption>
    <tr>
        <td>၂၈။</td>
        <td colspan="2">မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုလုပ်ငန်းနှင့် သက်ဆိုင်သည့် ဆုံးဖြတ်ချက်မှတစ်ပါး ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို မကျေနပ်ပါက အငြင်းပွားသူများသည် အောက်ပါအတိုင်း ဆောင်ရွက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>ခုံသမာဓိအဖွဲ့၏ ဆုံးဖြတ်ချက်ကို လက်ခံရရှိသည့် နေ့ရက်မှ ခုနှစ်ရက်အတွင်း ခုံသမာဓိကောင်စီ၏ အဆုံးအဖြတ်ခံယူရန် အငြင်းပွားသူတစ်ဘက်ဘက်မှ လျှောက်ထားခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်းကို သက်ဆိုင်ရာဥပဒေအရ ပြုလုပ်ခြင်း။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-change-workplace-rules-and-closure">အငြင်းပွားမှု စစ်ဆေးနေစဥ် ဝန်ထမ်းစည်းကမ်းများကို ပြောင်းလဲ၍မရခြင်းနှင့် ခိုင်လုံသော အကြောင်းပြချက်မရှိဘဲ အလုပ်ပိတ်၍ မရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၈)</caption>
    <tr>
        <td>၃၉။</td>
        <td>မည်သည့်အလုပ်ရှင်မျှ ခုံသမာဓိအဖွဲ့ သို့မဟုတ် ခုံအဖွဲ့က အငြင်းပွားမှု စစ်ဆေးနေစဥ် ထိုအငြင်းပွားမှုမစမီ တစ်ဆက်တည်းအချိန်က ချမှတ်ထားသော အလုပ်သမားများနှင့် သက်ဆိုင်သည့် ဝန်ထမ်းစည်းကမ်းများကို ယင်းအလုပ်သမားများ၏ အကျိုးထိခိုက်စေရန် ရုတ်တရက်ပြောင်းလဲခြင်း မပြုရ သို့မဟုတ် ခိုင်လုံသော အကြောင်းပြချက်မရှိဘဲ အလုပ်ပိတ်ခြင်းမပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="no-closure-or-strike-before-arbitration-body-decision">ခုံသမာဓိအဖွဲ့၏ အဆုံးအဖြတ်ခံယူခြင်းမပြုဘဲ အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရခြင်းနှင့် ပြစ်ဒဏ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၈)</caption>
    <tr>
        <td>၄၀။</td>
        <td>မည်သူမျှ အငြင်းပွားမှုတစ်ခုနှစ် စပ်လျဥ်း၍ ဤဥပဒေနှင့်အညီ ဆွေးနွေးညှိနှိုင်းခြင်း၊ ဖျန်ဖြေခြင်းနှင့် ခုံသမာဓိအဖွဲ့ဖြင့် ဆုံးဖြတ်ခြင်းတို့ကို ခံယူခြင်းမပြုဘဲ အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td>၄၇။</td>
        <td>မည်သူမဆို ပုဒ်မ ၄၀၊ ပုဒ်မ ၄၁ နှင့် ပုဒ်မ ၄၂ တို့ပါ တားမြစ်ချက်တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ကျူးလွန်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို ကျပ်သိန်း ၂၀ အောက် မနည်းသော ငွေဒဏ်ချမှတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="no-closure-or-strike-within-decision">ဆုံးဖြတ်ချက် သို့မဟုတ် စုပေါင်းသဘောတူညီချက် တစ်ခုခု အကျိုးသက်ရောက်မှုရှိစဥ်ကာလအတွင်း ပြန်လည်ပြင်ဆင်ရန် အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၈)</caption>
    <tr>
        <td>၄၁။</td>
        <td>မည်သူမျှ ခုံသမာဓိအဖွဲ့ သို့မဟုတ် ခုံသမာဓိကောင်စီ၏ ဆုံးဖြတ်ချက် သို့မဟုတ် စုပေါင်းသဘောတူညီချက် တစ်ခုခု အကျိုးသက်ရောက်မှုရှိစဥ်ကာလအတွင်း အဆိုပါ ဆုံးဖြတ်ချက် သို့မဟုတ် သဘောတူညီချက်ကို ပြန်လည်ပြင်ဆင်ရန် အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း မပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="closure-to-notify-and-only-with-permission">ကြိုတင်အကြောင်းကြားရခြင်းနှင့် ခွင့်ပြုချက်ရှိမှသာ အလုပ်ပိတ်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၃၇။</td>
        <td>အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းကို လည်းကောင်း၊ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် အကျုံးမဝင်သောလုပ်ငန်းကို လည်းကောင်း အလုပ်ပိတ်ခြင်းပြုလိုသော အလုပ်ရှင်သည် စတင်အလုပ်ပိတ်မည့်နေ့ရက်နှင့် ကာလကို သတ်မှတ်ချက်နှင့်အညီ သက်ဆိုင်ရာ အလုပ်သမားများသို့လည်းကောင်း၊ သက်ဆိုင်ရာမြုိ့နယ် အလုပ်သမားအဖွဲ့အစည်းသို့ လည်းကောင်း၊ သက်ဆိုင်ရာညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ လည်းကောင်း၊ အလုပ်ပိတ်မည့်ရက်မတိုင်မီ အနည်းဆုံး ၁၄ ရက်ကြိုတင်အကြောင်းကြားပြီး သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့၏ ခွင့်ပြုချက်ရရှိမှသာ အလုပ်ပိတ်ခြင်း ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="strike-notice-for-public-service-works">အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းတွင် သပိတ်မှောက်ရန် ၁၄ ရက်ကြိုတင်အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၃၈။</td>
        <td colspan="2">အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းတွင် သပိတ်မှောက်ခြင်း ပြုလုပ်လိုသော အလုပ်သမားအဖွဲ့အစည်းသည် အဖွဲ့အစည်းဝင် အလုပ်သမားအများစု၏ ဆန္ဒပြုချက်အရ -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>သက်ဆိုင်ရာ အလုပ်သမားအဖွဲ့ချုပ်၏ ညွှန်ကြားချက်ဖြင့် သပိတ်မှောက်မည့် နေ့ရက်၊ နေရာ၊ ပါဝင်မည့်ဦးရေ၊ နည်းလမ်းနှင့် သပိတ်မှောက်မည့် အချိန်ကာလကို ဖော်ပြ၍ သတ်မှတ်ချက်နှင့်အညီ သက်ဆိုင်ရာ အလုပ်ရှင်နှင့် သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ သပိတ်မှောက်မည့်ရက် မတိုင်မီ အနည်းဆုံး ၁၄ ရက်ကြိုတင် အကြောင်းကြားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="minimum-workforce-to-continue-public-service">အများပြည်သူ၏ အခြေခံလိုအပ်ချက်များကို ဖြည့်ဆည်းရန် ဝန်ဆောင်မှုပြုမည့် အနည်းဆုံးအရေအတွက် သတ်မှတ်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၃၈။</td>
        <td colspan="2">အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းတွင် သပိတ်မှောက်ခြင်း ပြုလုပ်လိုသော အလုပ်သမားအဖွဲ့အစည်းသည် အဖွဲ့အစည်းဝင် အလုပ်သမားအများစု၏ ဆန္ဒပြုချက်အရ -</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမားများ၏ သပိတ်မှောက်ခြင်းဆိုင်ရာ အခွင့်အရေးကို မထိခိုက်စေဘဲ အများပြည်သူ၏ အခြေခံလိုအပ်ချက်များကို ဖြည့်ဆည်းရန် ဝန်ဆောင်မှုပြုမည့် အနည်းဆုံးအရေအတွက်ကို အငြင်းပွားမှုမတိုင်မီ ညှိနှိုင်းဆွေးနွေး ဆုံးဖြတ်ရမည်။ ထိုသို့ ဆောင်ရွက်ရာတွင် အလုပ်ရှင်နှင့် အလုပ်သမားအဖွဲ့အစည်းများသည် သပိတ်မှောက်ခဲ့လျှင် လုပ်ငန်းခွင်တွင် ဆက်လက်လုပ်ကိုင်နေရမည့် အလုပ်သမားအရေအတွက်နှင့် ရာထူးအမျိုးအစားအပေါ် သဘောတူညီချက် ရယူထားရမည်။ ယင်းသို့ သဘောတူညီချက်မရှိခဲ့ပါက ဝန်ဆောင်မှုပြုမည့် အနည်းဆုံးအရေအတွက်ကို စီရင်ပိုင်ခွင့်ရှိသည့် တရားရုံးတွင် ဆုံးဖြတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="strike-notice-for-non-public-service-works">အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် အကျုံးမဝင်သော လုပ်ငန်းများတွင် သပိတ်မှောက်မည့်ရက် မတိုင်မီ သုံးရက် ကြိုတင်အကြောင်းကြားရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၃၉။</td>
        <td>အလုပ်သမား အဖွဲ့အစည်းဝင်အများစု၏ ဆန္ဒပြုချက်အရ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် အကျုံးမဝင်သော လုပ်ငန်းများတွင် သပိတ်မှောက်ခြင်းပြုလိုသော အလုပ်သမား အဖွဲ့အစည်းသည် သက်ဆိုင်ရာ အလုပ်သမားအဖွဲ့ချုပ်၏ ခွင့်ပြုချက်ဖြင့် သပိတ်မှောက်မည့် နေ့ရက်၊ နေရာ၊ ပါဝင်မည့်ဦးရေ၊ နည်းလမ်းနှင့် အချိန်ကာလတို့ကို ဖော်ပြ၍ သတ်မှတ်ချက်နှင့်အညီ သက်ဆိုင်ရာ အလုပ်ရှင်နှင့် သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ သပိတ်မှောက်မည့်ရက် မတိုင်မီ အနည်းဆုံး သုံးရက် ကြိုတင်အကြောင်းကြားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="reply-for-strike-or-closure-notice">အလုပ်ပိတ်ခြင်း၊ သပိတ်မှောက်ခြင်း ပြုလုပ်ရန် တင်ပြချက်အပေါ် ခွင့်ပြု၊ မပြု အချိန်မီ အကြောင်းပြန်ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၄၀။</td>
        <td>(က)</td>
        <td>သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သည် အလုပ်ပိတ်ခွင့်ပြုရန် အလုပ်ရှင်တစ်ဦးဦး၏ တင်ပြချက်နှင့် စပ်လျဥ်း၍ ခွင့်ပြု မပြုကို သက်ဆိုင်ရာ အလုပ်ရှင်ထံ အချိန်မီ အကြောင်းပြန်ကြားရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>သက်ဆိုင်ရာ အလုပ်သမားအဖွဲ့ချုပ်သည် အလုပ်သမားအဖွဲ့အစည်း တစ်ခုခုက သပိတ်မှောက်ခွင့်ပြုရန် တင်ပြချက်နှင့် စပ်လျဥ်း၍ ခွင့်ပြု မပြုကို အလုပ်သမားအဖွဲ့အစည်းထံ အချိန်မီ အကြောင်းပြန်ကြားရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="illegal-closure-or-strike">ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၄၁။</td>
        <td colspan="2">အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်းသည် အောက်ပါ အချက်တစ်ရပ်ရပ်နှင့် ငြိစွန်းပါက ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်း သို့မဟုတ် ဥပဒေနှင့် ဆန့်ကျင်သော သပိတ်မှောက်ခြင်း ဖြစ်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>လုပ်ငန်း လုပ်ကိုင်ဆောင်ရွက်မှု ပြတ်တောက်ရပ်ဆိုင်းစေခြင်းဖြင့် အများပြည်သူအချို့၏ အသက်၊ ကျန်းမာရေးနှင့် လုံခြုံရေးကို ထိခိုက်စေနိုင်သော အောက်ပါ မရှိမဖြစ်လိုအပ်သည့် ဝန်ဆောင်မှုများဖြစ်ခြင်း -
            <table class="list">
                <tr>
                    <td>(၁)</td>
                    <td>ရေပေးဝေရေးလုပ်ငန်း</td>
                </tr>
                <tr>
                    <td>(၂)</td>
                    <td>လျှပ်စစ်ဓါတ်အားလုပ်ငန်း</td>
                </tr>
                <tr>
                    <td>(၃)</td>
                    <td>မီးသတ်လုပ်ငန်း</td>
                </tr>
                <tr>
                    <td>(၄)</td>
                    <td>ကျန်းမာရေးဝန်ဆောင်မှုလုပ်ငန်း</td>
                </tr>
                <tr>
                    <td>(၅)</td>
                    <td>တယ်လီကွန်းဆက်သွယ်ရေးလုပ်ငန်း</td>
                </tr>
                <tr>
                    <td colspan="2"><b>ရှင်းလင်းချက်</b>။&emsp;။ အချိန်ကာလတစ်ရပ်ကို ကျော်လွန်၍ သပိတ်မှောက်ခြင်းကြောင့် အငြင်းပွားမှုတွင် ပါဝင်သူများ၏ အလုပ်ခွင်အကျိုးစီးပွားကို ပြန်လည်အစားထိုး၍ မရနိုင်အောင် ထိခိုက်လျှင်ဖြစ်စေ၊ အလွန်အမင်း ထိခိုက်စေလျှင်ဖြစ်စေ၊ မရှိမဖြစ်လိုအပ်သော ဝန်ဆောင်မှု မဟုတ်သည့် လုပ်ငန်းတစ်ခုသည် မရှိမဖြစ်လိုအပ်သော ဝန်ဆောင်မှုတစ်ခုအဖြစ် ပြောင်းလဲလာနိုင်သည်။</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်သမား အဖွဲ့အစည်းများသည် သက်ဆိုင်ရာ အလုပ်သမားအဖွဲ့ချုပ်၏ ခွင့်ပြုချက်မရှိဘဲ သပိတ်မှောက်ခြင်း၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>အလုပ်ပိတ်ခြင်း သို့မဟုတ် သပိတ်မှောက်ခြင်းနှင့် စပ်လျဥ်း၍ ဤဥပဒေပါ ပြဌာန်းချက်နှင့်အညီ ကြိုတင်အကြောင်းကြားရန် ပျက်ကွက်ခြင်း၊</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>လုပ်ခ၊ လစာ၊ သက်သာချောင်ချိရေး၊ အလုပ်ချိန်နာရီ သို့မဟုတ် အလုပ်သမားများ၏ လုပ်ငန်းခွင်ဆိုင်ရာ အကျိုးစီးပွားနှင့် သက်ဆိုင်သည့် အခြားကိစ္စများကဲ့သို့သော အလုပ်သမားရေးရာ ကိစ္စများနှင့် သက်ဆိုင်မှုမရှိခြင်း။</td>
    </tr>
    <tr>
        <td></td>
        <td>(င)</td>
        <td>သပိတ်မှောက်ခြင်းသည် ကြုိတင်ခွင့်ပြုချက်ယူထားသည့် နေ့ရက်၊ နေရာ၊ အချိန်ကာလ၊ ပါဝင်မည့်ဦးရေ၊ နည်းလမ်းတို့နှင့် ကိုက်ညီမှုမရှိခြင်း။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="prohibit-illegal-colsure-or-strike">ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်း သို့မဟုတ် ဥပဒေနှင့် ဆန့်ကျင်သော သပိတ်မှောက်ခြင်းကို တည်ဆဲဥပဒေနှင့်အညီ တားဆီးနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၁)</caption>
    <tr>
        <td>၄၂။</td>
        <td>ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်း သို့မဟုတ် ဥပဒေနှင့် ဆန့်ကျင်သော သပိတ်မှောက်ခြင်းဖြစ်ပါက တည်ဆဲဥပဒေနှင့်အညီ တားဆီးနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="closure-only-with-permission-from-tcb">ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့၏ ခွင့်ပြုချက်မရှိဘဲ အလုပ်မပိတ်ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၄၃။</td>
        <td>မည်သည့်အလုပ်ရှင်မျှ သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့၏ ခွင့်ပြုချက်မရရှိဘဲ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှု လုပ်ငန်းတွင်လည်းကောင်း၊ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် အကျုံးမဝင်သော လုပ်ငန်းတွင်လည်းကောင်း အလုပ်ပိတ်ခြင်း မပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-closure-and-dismissals">အလုပ်ပိတ်ခြင်းနှင့် အလုပ်ထုတ်ခြင်းများ မပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၄၄။</td>
        <td colspan="2">မည်သည့်အလုပ်ရှင်မျှ -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အငြင်းပွားမှု တစ်ရပ်ရပ်အတွက် ဝါဏိဇ္ဇပဋိပက္ခမှု ဖြေရှင်းနေစဥ်အတွင်း ယင်းအငြင်းပွားမှုကို အကြောင်းပြု၍ အလုပ်ပိတ်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုဒ်မ ၄၁၊ ပုဒ်မခွဲ (က) နှင့် (ဂ) တို့ပါ ပြဌာန်းချက်တစ်ရပ်ရပ်နှင့် အကျုံးဝင်သည့် ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဂ)</td>
        <td>ပုဒ်မ ၄၁၊ ပုဒ်မခွဲ (က) နှင့် (ဂ) တို့ပါ ပြဌာန်းချက်တစ်ရပ်ရပ်နှင့် အကျုံးဝင်သည့် ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်းကို ငြင်းဆန်သည့် အလုပ်သမားအား အလုပ်မှထုတ်ပစ်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ဃ)</td>
        <td>ဤဥပဒေနှင့်အညီ အလုပ်သမား အဖွဲ့အစည်း တစ်ရပ်၏ လှုပ်ရှားမှုများကို ဆောင်ရွက်ရန် အလုပ်သမား အဖွဲ့အစည်းတစ်ခုတွင် အဖွဲ့ဝင်အဖြစ်ပါဝင်ခြင်း သို့မဟုတ် သပိတ်မှောက်ရာတွင် ပါဝင်ဆောင်ရွက်ခြင်းကြောင့် အလုပ်သမားတစ်ဦးအား အလုပ်မှထုတ်ပစ်ခြင်း မပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-strike-without-notice">ကြိုတင်အကြောင်းကြားခြင်းမရှိဘဲ သပိတ်မှောက်ခြင်း မပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၄၅။</td>
        <td>မည်သည့်အလုပ်သမားမျှ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းတွင် သပိတ်မှောက်ခြင်း ပြုမည့်အကြောင်း ပုဒ်မ ၃၈ ပါ သတ်မှတ်ချက်များနှင့်အညီ သက်ဆိုင်ရာ အလုပ်ရှင်သို့ လည်းကောင်း၊ သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ လည်းကောင်း ကြိုတင်အကြောင်းကြားခြင်းမရှိဘဲ သပိတ်မှောက်ခြင်းမပြုရ။</td>
    </tr>
    <tr>
        <td>၄၆။</td>
        <td>မည်သည့်အလုပ်သမားမျှ အများပြည်သူဆိုင်ရာ ဝန်ဆောင်မှုလုပ်ငန်းနှင့် အကျုံးမဝင်သော လုပ်ငန်းများတွင် သပိတ်မှောက်ခြင်း ပြုမည့်အကြောင်း ပုဒ်မ ၃၉ ပါ သတ်မှတ်ချက်များနှင့်အညီ သက်ဆိုင်ရာ အလုပ်ရှင်သို့ လည်းကောင်း၊ သက်ဆိုင်ရာ ညှိနှိုင်းဖျန်ဖြေရေးအဖွဲ့သို့ လည်းကောင်း ကြိုတင်အကြောင်းကြားခြင်းမရှိဘဲ သပိတ်မှောက်ခြင်းမပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-strike-during-arbitration">ဝါဏိဇ္ဇပဋိပက္ခမှု ဖြေရှင်းနေစဥ်အတွင်း သပိတ်မှောက်ခြင်း မပြုရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၄၇။</td>
        <td colspan="2">မည်သည့်အလုပ်သမားမျှ -</td>
    </tr>
    <tr>
        <td></td>
        <td>(က)</td>
        <td>အငြင်းပွားမှု တစ်ရပ်ရပ်အတွက် ဝါဏိဇ္ဇပဋိပက္ခမှု ဖြေရှင်းနေစဥ်အတွင်း ယင်းအငြင်းပွားမှုကို အကြောင်းပြု၍ သပိတ်မှောက်ခြင်း မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(ခ)</td>
        <td>ပုဒ်မ ၄၀ ပါ ပြဌာန်းချက် တစ်ရပ်ရပ်နှင့် အကျုံးဝင်သော ဥပဒေနှင့် ဆန့်ကျင်၍ သပိတ်မှောက်ခြင်း မပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="cannot-strike-within-500-meters">ကိုက် ၅၀၀ အတွင်း ဆန္ဒပြ၍ မရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၅၀။</td>
        <td>(ခ)</td>
        <td>အလုပ်သမားရေးရာ ကိစ္စရပ်များနှင့်စပ်လျဥ်း၍ ဆေးရုံ၊ စာသင်ကျောင်း၊ သာသနိက အဆောက်အအုံ၊ လေဆိပ်၊ ဘူတာရုံ၊ ခရီးသည်တင်ယာဥ် ရပ်နားစခန်း၊ ဆိပ်ကမ်း သို့မဟုတ် သံတမန် အဖွဲ့အစည်းများ၊ တပ်မတော် သို့မဟုတ် မြန်မာနိုင်ငံ ရဲတပ်ဖွဲ့ အဆောက်အအုံ တစ်ခုခုမှ ကိုက် ၅၀၀ အတွင်းတွင် ဆန္ဒပြခြင်း မပြုရ။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="imprisonment-and-fine-for-prohibited-closure-and-dismissal">ခွင့်ပြုချက်မရှိဘဲ အလုပ်ပိတ်ခြင်း၊ ဝါဏိဇ္ဇပဋိပက္ခမှု ဖြေရှင်းနေစဥ်အတွင်း အလုပ်ပိတ်ခြင်း၊ ဥပဒေနှင့် ဆန့်ကျင်သော အလုပ်ပိတ်ခြင်းနှင့် တားမြစ်ထားသော အလုပ်ထုတ်ခြင်းတို့အတွက် ပြစ်ဒဏ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၅၁။</td>
        <td>မည်သည့် အလုပ်ရှင်မဆို ပုဒ်မ ၄၃၊ ပုဒ်မ ၄၄ တို့ပါ တားမြစ်ချက်တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ကျူးလွန်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို ကျပ်တစ်သိန်းထက်မပိုသော ငွေဒဏ်ဖြစ်စေ၊ တစ်နှစ်ထက်မပိုသော ထောင်ဒဏ်ဖြစ်စေ၊ ဒဏ်နှစ်ရပ်စလုံးဖြစ်စေ ချမှတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="fine-for-prohibited-strikes">ကြိုတင်အကြောင်းကြားခြင်းမရှိဘဲ သပိတ်မှောက်ခြင်း ဝါဏိဇ္ဇပဋိပက္ခမှု ဖြေရှင်းနေစဥ်အတွင်း သပိတ်မှောက်ခြင်း ဥပဒေနှင့် ဆန့်ကျင်သော သပိတ်မှောက်ခြင်းနှင့် တားမြစ်ထားသော အလုပ်ထုတ်ခြင်းတို့အတွက် ပြစ်ဒဏ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>အလုပ်သမား အဖွဲ့အစည်း ဥပဒေ၊ အခန်း (၁၂)</caption>
    <tr>
        <td>၅၂။</td>
        <td>မည်သည့် အလုပ်သမားမဆို ပုဒ်မ ၄၅၊ ၄၆ နှင့် ၄၇ တို့ပါ တားမြစ်ချက်တစ်ရပ်ရပ်ကို ဖောက်ဖျက်ကျူးလွန်ကြောင်း ပြစ်မှုထင်ရှားစီရင်ခြင်းခံရလျှင် ထိုသူကို ကျပ်သုံးသောင်းထက်မပိုသော ငွေဒဏ် ချမှတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="imprisonment-and-fine-for-strike-within-500-meters">တားမြစ်နေရာများ၏ ကိုက် ၅၀၀ အတွင်း ဆန္ဒပြခြင်းအတွက် ပြစ်ဒဏ်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <tr>
        <td>၅၅။</td>
        <td>ပုဒ်မ ၅၀၊ ပုဒ်မခွဲ (ခ) ပါ တားမြစ်ချက်အား ကျူးလွန်ရာ၌ လူပုဂ္ဂိုလ်ကို အကြမ်းဖက်ခြင်း၊ ပစ္စည်းအား ထိခိုက်ပျက်စီးစေခြင်း သို့မဟုတ် အခြားသော အခွင့်အရေးများကို ပြင်းထန်စွာ ချိုးဖောက်ခြင်း ကိစ္စများတွင် သက်ဆိုင်ရာ ဥပဒေအရ အရေးယူခြင်းခံရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="no-wages-for-strike-worker">သပိတ်မှောက်သည့် အလုပ်သမားအား လစာစရိတ်ပေးရန် တာဝန်မရှိခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list large-margin-bottom">
    <caption>အလုပ်သမားရေးရာ အငြင်းပွားမှုဖြေရှင်းရေး ဥပဒေ၊ အခန်း (၁၀)</caption>
    <tr>
        <td>၅၄။</td>
        <td>သပိတ်မှောက်ခြင်းသည် အလုပ်ခန့်ထားမှုဆိုင်ရာ သဘောတူညီချက်စာချုပ်အား ခေတ္တရပ်ဆိုင်းစေခြင်းဖြစ်၍ ထိုကာလအတွင်း အလုပ်ရှင်က သပိတ်မှောက်သည့် အလုပ်သမားအား လစာစရိတ်ပေးရန် တာဝန်မရှိစေရ။</td>
    </tr>
</table>
