<h3 id="definition">အဓိပ္ပါယ်ဖော်ပြချက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၂။</td>
        <td>(၈)</td>
        <td><b>အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ရက်သတ္တပတ် အလုပ်ပိတ်ရက်နှင့် အများပြည်သူ အလုပ်ပိတ်ရက် တို့ကို ဆိုသည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၂။</td>
        <td>(ည)</td>
        <td><b>ရက်သတ္တပတ်အလုပ်ပိတ်ရက်</b> ဆိုသည်မှာ ရက်သတ္တပတ်လျှင် အနည်းဆုံးတစ်ရက် အနားပေးရသည့်ရက်ကို ဆိုသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="weekly-rest-days">ရက်သတ္တပတ် အလုပ်ပိတ်ရက်၊ အလုပ်လုပ်ရန် ခွင့်ပြုချက်နှင့် ရက်စားအနားပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</caption>
    <tr>
        <td>၆၀။</td>
        <td>(၁)</td>
        <td colspan="2">မည်သည့် လူကြီးအလုပ်သမားကိုမျှ အောက်ပါအချက်များနှင့် မညီညွတ်လျှင်၊ တနင်္ဂနွေနေ့၌ အလုပ်ရုံတွင် အလုပ်မလုပ်စေရ၊ သို့တည်းမဟုတ် လုပ်ခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(က)</td>
        <td>ထိုအလုပ်သမားသည် တနင်္ဂနွေနေ့မတိုင်မီ သုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက် တစ်ရက်လုံးရပြီးဖြစ်စေရမည်။ သို့တည်းမဟုတ် ထိုတနင်္ဂနွေနေ့နောက် သုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက် တစ်ရက်လုံးရပြီးဖြစ်စေရမည်။ ထို့အပြင်</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>(ခ)</td>
        <td>အလုပ်ရုံမန်နေဂျာသည် ထိုတနင်္ဂနွေနေ့ သို့တည်းမဟုတ် အပိုဒ် (က) အရ ထိုနေ့အဖို့ အစားသွင်းသည့်နေ့၊ ထိုနေ့များအနက် အလျင်ကျသည့်နေ့မတိုင်မီ<br>
            (ကက)&emsp;ရက်သတ္တပတ် အလုပ်ပိတ်ရက်များ၌ လုပ်ငန်းလိုအပ်ချက်အရ အလုပ်လုပ်စေရန် လိုအပ်ပါက အလုပ်သမား၏ သဘောတူညီချက်ဖြင့် လုပ်ငန်းပိုင်ရှင် သို့မဟုတ် မန်နေဂျာသည် အလုပ်ရုံနှင့် အလုပ်သမားဥပဒေစစ်ဆေးရေးဦးစီးဌာန သို့မဟုတ် ယင်းဦးစီးဌာနက လွှဲအပ်ထားသည့် စစ်ဆေးရေးအရာရှိထံသို့ သတ်မှတ်ထားသော စည်းကမ်းချက်များနှင့်အညီ အနည်းဆုံး သုံးရက်ကြိုတင်၍ တင်ပြပြီး ခွင့်ပြုချက်ရရှိမှသာ လုပ်ကိုင်စေရမည်။ ထို့အပြင်<br>
            (ခခ)&emsp;အနည်းဆုံး နှစ်ဆယ့်လေးနာရီ ကြိုတင်၍ ယင်းသို့ကြံရွယ်ကြောင်း နို့တစ်စာကို အလုပ်ရုံတွင် မြင်သာအောင် ကပ်ထားပြီး ဖြစ်ရမည့်အပြင် ထိုနေ့များအနက် နောက်ကျသည့်နေ့ ကုန်ဆုံးသည်အထိ ကပ်ထားရမည်။
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td colspan="2">သို့ရာတွင် အလုပ်သမားတစ်ဦးဦးအား အလုပ်ပိတ်ရက် တစ်ရက်လုံးမရစေဘဲ အဆက်မပြတ် ဆယ်ရက်ထက်ပို၍ အလုပ်လုပ်ရခြင်းကို ဖြစ်စေမည့် မည်သည့်ရက် အစားထိုးခြင်းကိုမျှ မပြုရ။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td colspan="2">ပုဒ်မခွဲ (၁) အရ ပေးသည့် နို့တစ်စာများကို တနင်္ဂနွေနေ့ သို့တည်းမဟုတ် ပယ်ဖျက်မည်ဖြစ်သည့် အလုပ်ပိတ်ရက်၊ ထိုနေ့များအနက် အလျင်ကျသည့်နေ့ မတိုင်မီ ရက်တစ်ရက်ထက် နောက်မကျဘဲ စစ်ဆေးရေးအရာရှိ၏ရုံးသို့ ပေးအပ်သည့် နို့တစ်စာဖြင့်လည်းကောင်း၊ ပုဒ်မ ၆၇ အရ ကပ်ထားသည့် အချိန်နို့တစ်စာ၏ အနီးတွင် မြင်သာအောင်ကပ်ထားသည့် နို့တစ်စာဖြင့်လည်းကောင်း ပယ်ဖျက်နိုင်သည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၃)</td>
        <td colspan="2">ပုဒ်မခွဲ (၁) ပါ ပြဌာန်းချက်များနှင့်အညီ အလုပ်သမားသည် တနင်္ဂနွေနေ့၌ အလုပ်လုပ်၍ ထိုနေ့မတိုင်မီ သုံးရက်အနက် တစ်ရက်ရက်တွင် အလုပ်ပိတ်ရက် ရပြီးဖြစ်သည့်အချက်တွင် ထိုတနင်္ဂနွေနေ့ကို ထိုအလုပ်သမား ရက်သတ္တပတ် အလုပ်လုပ်သည့် အချိန်တွက်ချက်ရန်အလို့ငှာ လွန်ခဲ့သည့် ရက်သတ္တပတ်တွင် ထည့်သွင်းရမည်။</td>
    </tr>
</table>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၇။</td>
        <td>အလုပ်သမားသည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်ရပါက ရက်သတ္တပတ် အလုပ်ပိတ်ရက် မကျရောက်မီ အများပြည်သူ အလုပ်ပိတ်ရက်မဟုတ်သည့် သုံးရက်အနက် တစ်ရက်ရက်တွင်ဖြစ်စေ၊ ရက်သတ္တပတ် အလုပ်ပိတ်ရက် ကျရောက်ပြီးနောက် အများပြည်သူအလုပ်ပိတ်ရက်မဟုတ်သည့် သုံးရက်အနက် တစ်ရက်ရက်တွင်ဖြစ်စေ၊ ထိုရက်သတ္တပတ် အလုပ်ပိတ်ရက်အတွက် ရက်အစားထိုး၍ အနားပေရမည်။ ထိုသို့ ရက်အစားထိုး အနားရပါက အချိန်ပိုလုပ်အားခခံစားခွင့်မရှိစေရ။</td>
    </tr>
    <tr>
        <td>၈။</td>
        <td>အလုပ်သမားတစ်ဦးဦးအား အလုပ်ပိတ်ရက် တစ်ရက်လုံးမရစေဘဲ အဆက်မပြတ် တစ်ဆယ်ရက်ထက်ပို၍ အလုပ်လုပ်ရခြင်းကိုဖြစ်စေမည့် မည်သည့်ရက်အစားထိုးခြင်းကိုမျှ မပြုရ။</td>
    </tr>
    <tr>
        <td>၉။</td>
        <td>ရက်သတ္တပတ် အလုပ်ပိတ်ရက်တွင် လုပ်ငန်းသဘာဝအရ မဖြစ်မနေ အလုပ်လုပ်ရန် အကြောင်းတစ်စုံတစ်ရာ ပေါ်ပေါက်ပါက အလုပ်သမား၏ ဆန္ဒကိုရယူပြီး ယင်းနေ့မတိုင်မီ ဦးစီးဌာနသို့ ကြိုတင်ခွင့်ပြုမိန့် တောင်းခံရမည်။ ခွင့်ပြုချက်ရမှသာ အလုပ်ခိုင်းစေရမည်။</td>
    </tr>
    <tr>
        <td>၁၀။</td>
        <td>ထိုသို့ ရက်သတ္တပတ် အလုပ်ပိတ်ရက်တွင် အလုပ်လုပ်စေရန် ကြံရွယ်ကြောင်းနှင့် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်ကို မည်သည့်နေ့တွင် ရက်အစားထိုး၍ အနားပေးမည်ဖြစ်ကြောင်း အနည်းဆုံး ၂၄ နာရီ ကြိုတင်၍ စစ်ဆေးရေးအရာရှိထံသို့ ကြိုတင်အကြောင်းကြားပြီး ဖြစ်ရမည့်အပြင် အလုပ်ဌာန၌လည်း အလုပ်သမားများ မြင်သာအောင် ကပ်ထားရမည်။</td>
    </tr>
    <tr>
        <td>၁၁။</td>
        <td>အလုပ်သမားသည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်၌ အလုပ်လုပ်ရ၍ ထိုနေ့မတိုင်မီ အများပြည်သူ အလုပ်ပိတ်ရက် မဟုတ်သည့် သုံးရက်အနက် တစ်ရက်ရက်တွင်ဖြစ်စေ၊ ထိုနေ့နောက် အများပြည်သူ အလုပ်ပိတ်ရက် မဟုတ်သည့် သုံးရက်အနက် တစ်ရက်ရက်တွင်ဖြစ်စေ အစားထိုး အလုပ်ပိတ်ရက်ရပြီးဖြစ်လျှင် အလုပ်သမား၏ ရက်သတ္တပတ် အလုပ်လုပ်သည့်အချိန်ကို တွက်ချက်ရာတွင် ထိုအလုပ်ပိတ်ရက်အတွက် အလုပ်ချိန်ကို အလုပ်သမားအား အစားထိုးအနားပေးသည့် သက်ဆိုင်ရာ ရက်သတ္တပတ်တွင် ထည့်သွင်းရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="substitution-within-2-months">နောင်လာမည့် ပြက္ခဒိန်လနှစ်လအတွင်း အလုပ်ပိတ်ရက် အစားပေးနိုင်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ အလုပ်ရုံများ အက်ဥပဒေ</caption>
    <tr>
        <td>၆၀။</td>
        <td>(၁)</td>
        <td>ဤအက်ဥပဒေပါ ပြန်ဌာန်းချက်များအရ၊ အလုပ်ရုံကို သို့တည်းမဟုတ် အလုပ်ရုံတွင် အလုပ်လုပ်သူများကို ပုဒ်မ ၆၀ ရှိပြဌာန်းချက်များမှ ကင်းလွတ်ခွင့်ပြုသည့် အမိန့်ချမှတ်ခြင်းကြောင့်ဖြစ်စေ၊ နည်းဥပဒေပြုခြင်းကြောင့်ဖြစ်စေ၊ ထိုပုဒ်မရှိ ပုဒ်မခွဲ (၁) ဖြင့် ပြဌာန်းထားသည့် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်များအနက် တစ်ရက်ရက်ကို အလုပ်သမားအား ခံစားခွင့်မပေးလျှင် ထိုသူအား အလုပ်ပိတ်ရက်များ ရသင့်သည့် ပြက္ခဒိန်လအတွင်းတွင်ဖြစ်စေ၊ နောင်လာမည့် ပြက္ခဒိန်လ နှစ်လအတွင်းတွင်ဖြစ်စေ၊ မိမိဆုံးရှုံးသော အလုပ်ပိတ်ရက် အရေအတွက်နှင့် ညီမျှသော အစားပေးသည့် အလုပ်ပိတ်ရက်များကို ခွင့်ပြုရမည်။</td>
    </tr>
    <tr>
        <td></td>
        <td>(၂)</td>
        <td>အလုပ်သမား၊ အလုပ်အကိုင်နှင့် လူမှုဖူလုံရေး ဝန်ကြီးဌာနသည် ပုဒ်မခွဲ (၁) တွင် ပြဌာန်းထားသည့် အလုပ်ပိတ်ရက်များကို မည်သို့မည်ပုံ ခွင့်ပြုရမည်ဟု ပြဌာန်းနိုင်သည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="weekly-rest-day-with-wages">အခကြေးငွေ သို့မဟုတ် လစာငွေအပြည့်ဖြင့် ခွင့်ပြုပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>၁၉၅၁ ခုနှစ်၊ ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် အက်ဥပဒေ</caption>
    <tr>
        <td>၃။</td>
        <td>(၄)</td>
        <td>အလုပ်ရှင်သည် အလုပ်သမားများအတွက် ရက်သတ္တတစ်ပတ်လျှင် အနည်းဆုံးတစ်ရက်ကို အခကြေးငွေ သို့မဟုတ် လစာငွေအပြည့်ဖြင့် အလုပ်ပိတ်ရက်အဖြစ် သတ်မှတ်၍ ခွင့်ပြုပေးရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wages-for-weekly-rest-day">ရက်သတ္တပတ် သတ်မှတ်အလုပ်ချိန် ပြည့်အောင်လုပ်ခဲ့ပြီးဖြစ်လျှင် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်အတွက် အခကြေးငွေ ပေးရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၃။</td>
        <td>အလုပ်သမားသည် သက်ဆိုင်ရာဥပဒေအရ ရက်သတ္တပတ် သတ်မှတ်အလုပ်ချိန် ပြည့်အောင် လုပ်ခဲ့ပြီးဖြစ်လျှင် ရက်သတ္တပတ် အလုပ်ပိတ်ရက် အနည်းဆုံးတစ်ရက်ကို သက်ဆိုင်ရာရာ အခကြေးငွေ သို့မဟုတ် အခြေခံလစာငွေဖြင့် ခံစားခွင့်ရှိသည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="deeming-as-official-working-days">တရားဝင်အလုပ်လုပ်ရက်များအဖြစ် မှတ်ယူခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၄။</td>
        <td>ရက်သတ္တပတ် သတ်မှတ်အလုပ်ချိန်ကို တွက်ချက်ရန်အလို့ငှာ လုပ်ခခံစားခွင့်ရှိသည့် ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက်များကို တရားဝင်အလုပ်လုပ်ရက်အဖြစ် ထည့်သွင်းတွက်ချက်ရမည့်အပြင် အလုပ်ရှင်က အလုပ်မပေးနိုင်၍ အလုပ်နားရသည့် ရက်များလည်း ပါဝင်သည်။ လုပ်ခခံစားခွင့်ရှိသည့် ခွင့်ရက် သို့မဟုတ် အလုပ်ပိတ်ရက်တစ်ရက်အတွက် တစ်ရက်သတ်မှတ်အလုပ်ချိန်ကိုသာ ထည့်သွင်းတွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="before-and-after">ရှေ့ပိတ်၊ နောက်ပိတ် ခွင့်ယူခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၅။</td>
        <td>အလုပ်သမားများသည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက် ကုန်ဆုံးပြီးနောက်တစ်ရက်မှ စတင်၍ ခွင့်တစ်မျိုးမျိုးခံစားလျှင် သို့မဟုတ် ခွင့်ရက်ကုန်ဆုံးပြီးနောက်ရက်သည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်ဖြစ်လျှင် အဆိုပါ ရက်သတ္တပတ် အလုပ်ပိတ်ရက်သည် ခွင့်ရက်နှင့် အကျုံးဝင်သက်ဆိုင်ခြင်း မရှိစေရ။ သို့သော် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်မတိုင်မီက စတင်ပြီး ရက်သတ္တပတ် အလုပ်ပိတ်ရက် ကုန်ဆုံးပြီးသည့် နောက်တစ်ရက်အပါအဝင်အထိ ခွင့်ခံစားခြင်းဖြစ်လျှင် အဆိုပါ ရက်သတ္တပတ် အလုပ်ပိတ်ရက်ကို ခွင့်ရက်အဖြစ် အကျုံးဝင်သက်ဆိုင်စေရမည်။ ထိုရက်သတ္တပတ် အလုပ်ပိတ်ရက်ကို အခြားတစ်ရက်သို့ ပြောင်းလဲတောင်းခံခွင့်မပြုရ။</td>
    </tr>
    <tr>
        <td>၆။</td>
        <td>အလုပ်သမားများသည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက် ကုန်ဆုံးပြီးနောက်တစ်ရက်မှ စတင်၍ နောက်ရက်သတ္တပတ် အလုပ်ပိတ်ရက်အထိ ခွင့်ခံစားပါက နောက်ရက်သတ္တပတ် အလုပ်ပိတ်ရက်ကို ခွင့်ရက်အဖြစ် သတ်မှတ်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="weekly-rest-day-for-security-and-shift-workers">လုံခြုံရေးဝန်ထမ်း၊ အဆိုင်းစနစ် အလုပ်သမားများအတွက် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၂။</td>
        <td>လုံခြုံရေးဝန်ထမ်းအဖြစ် လုပ်ကိုင်သူများ၊ အဆိုင်းစနစ်တွင် လုပ်ကိုင်သည့် အလုပ်သမားများသည် အလုပ်ရှင်နှင့် သဘောတူညီချက်ရှိသည့်အတိုင်း ရက်သတ္တပတ် အလုပ်ပိတ်ရက်ကို အလှည့်ကျရောက်ခဲ့လျှင် ထိုနေ့ကို အများပြည်သူ အလုပ်ပိတ်ရက်အဖြစ် သတ်မှတ်ခံစားခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="weekly-rest-day-and-public-holiday">ရက်သတ္တပတ် အလုပ်ပိတ်ရက်နှင့် အများပြည်သူ အလုပ်ပိတ်ရက် တိုက်ဆိုင်ကျရောက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၃။</td>
        <td>ရက်သတ္တပတ် အလုပ်ပိတ်ရက်သည် အများပြည်သူ အလုပ်ပိတ်ရက်နှင့် တစ်ထပ်တည်းကျရောက်ခဲ့လျှင် ထိုနေ့ကို အများပြည်သူ အလုပ်ပိတ်ရက်အဖြစ် သတ်မှတ်ခံစားခွင့်ပြုရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="wages-for-weekly-rest-day">ရက်သတ္တပတ် အလုပ်ပိတ်ရက်အတွက် အခကြေးငွေ တွက်ချက်ခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၄။</td>
        <td>ရက်သတ္တပတ် အလုပ်ပိတ်ရက်အတွက် သက်ဆိုင်ရာရာ အခကြေးငွေကို တွက်ချက်ရာတွင် နေ့စား အလုပ်သမားများအတွက် အလုပ်ရှင်နှင့် သဘောတူညီထားသည့် တစ်နေ့အတွက် လုပ်ခနှုန်းဖြင့်လည်းကောင်း၊ ပုတ်ပြတ်အလုပ်သမားများအတွက် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်မတိုင်မီ ခုနှစ်ရက်အတွင်း ရရှိသော လုပ်ခစုစုပေါင်းကို အမှန်တကယ်လုပ်ကိုင်ခဲ့သည့် အလုပ်ဆင်းရက်ဖြင့် စား၍ရရှိသော ပျမ်းမျှလုပ်ခနှုန်းဖြင့်လည်းကောင်း တွက်ချက်ရမည်။</td>
    </tr>
</table>
<hr class="horizontal-divider-two">
<h3 id="records-and-monthly-report">မှတ်တမ်းထားရခြင်းနှင့် မှတ်တမ်းကို လစဥ်ပေးပို့ရခြင်း<i class="fa-solid fa-link"></i></h3>
<table class="list">
    <caption>ခွင့်ရက်နှင့် အလုပ်ပိတ်ရက် နည်းဥပဒေများ</caption>
    <tr>
        <td>၁၅။</td>
        <td>အလုပ်ရှင်သည် ရက်သတ္တပတ် အလုပ်ပိတ်ရက်အတွက် ငွေကြေးခံစားခွင့်များကို မှတ်တမ်းအဖြစ် ထိန်းသိမ်းထားရှိပြီး ဦးစီးဌာနသို့ ပုံစံ (၄) ဖြင့် ငွေကြေးခံစားခွင့်မှတ်တမ်းကို လစဥ်ပေးပို့ရမည်။</td>
    </tr>
</table>

<p>&nbsp;</p>
