<div class="comment-type-helper" style="padding: 1rem; border: 1px solid var(--line-two); border-radius: 9px; margin-bottom: 2rem;">
    <p><b>What is this?</b><br>This is comment-typing helper especially for Myanmar text. Type your comment here, then copy and paste it into the Disqus comment box.<br>See: <a href="/tech/myanmar-unicode-and-disqus-comment-box/">Myanmar Unicode issue in Disqus comment box</a></p>
    <textarea name="comment-textarea" id="comment-textarea" rows="3" placeholder="Type your comment here, then copy and paste it into the Disqus comment box." style="min-width: 100%; max-width: 100%; font-size: inherit; font-family: inherit; padding: 9px;"></textarea>
    <button id="content-copy-btn" style="padding: 3px; font-weight: 600; cursor: pointer;">copy text</button><span id="copied-content" style="display: none; color: #666;">&emsp;Copied!</span>
    <script>
        document.getElementById('content-copy-btn').addEventListener('click', function() {
            const textarea = document.getElementById('comment-textarea');
            const text = textarea.value;
            navigator.clipboard.writeText(text).then(() => {
                const copied = document.getElementById('copied-content');
                copied.style.display = 'inline-block';
                setTimeout(() => {
                    copied.style.display = 'none';
                }, 3000);
                console.log('Text copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        });
    </script>
</div>