<div class="row-one">
    <div class="menu-title-search">
        <div id="mobile-menu-button" aria-label="Open menu">
            <svg id="icon-menu" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#eeeeee"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            <svg id="icon-close" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#eeeeee"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </div>
        <div><a href="/" class="site-title">{{ site.Title }}</a></div>
        <a href="/search" class="main-search-icon"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#eeeeee"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg></a>
    </div>
</div>
<div class="row-two">
    <div class="navbar-wrapper">
        <div class="left-box">
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        <div class="right-box">
            <a href="https://github.com/minsoehan"><i class="fa-brands fa-github"></i></a>
            <a href="https://codeberg.org/minsoehan"><i class="fa-solid fa-code"></i></a>
            <div><span class="material-symbols-outlined">email</span>&ensp;minsoehan243@gmail.com</div>
            <div><span class="material-symbols-outlined">phone</span>&ensp;+95 9 25 731 3341</div>
        </div>
    </div>
</div>
<span id="scrollup"><svg xmlns="http://www.w3.org/2000/svg" height="54px" viewBox="0 -960 960 960" width="54px" fill="#2f2f2f"><path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"/></svg></span>