<iframe id="hiddenIframe" name="hidden_iframe"></iframe>
<form id="yourFormID" target="hidden_iframe" action="https://docs.google.com/forms/u/1/d/e/FORM-ID/formResponse" method="post">
    <label for="entry.12345678">Name:</label>
    <input type="text" name="entry.12345678" value="" required>
    <label for="entry.87654321">PhoneNo:</label>
    <input type="text" name="entry.87654321" value="" required>
    <button type="submit">Submit</button>
</form>

<!-- you can hide iframe like:
visibility: hidden;
height: 1px;
-->